<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    
    {%- if page_paths -%}

    <section class="navigation">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      <div class="nav-container">
        <nav>
          <div class="nav-mobile">
            <a id="nav-toggle" href="#!"><span></span></a>
          </div>
          <ul class="nav-list">
            <li>
              <a href="{{ site.baseurl }}/about">About</a>
            </li>
            <li>
              <a href="#!">Semantic Web Technology</a>
              <ul class="nav-dropdown">
                <li>
                  <a href="{{ site.baseurl }}/semantic-web-technology-introduction">Introduction</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/semantic-web-technology-advantages">Advantages</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#!">Ontology</a>
              <ul class="nav-dropdown">
                <li>
                  <a href="{{ site.baseurl }}/ontology">Library</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/ontology-modeling">Modeling</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#!">N3-Rule-Based Machine Reasoning</a>
              <ul class="nav-dropdown">
                <li>
                  <a href="{{ site.baseurl }}/n3-rule-based-machine-reasoning">Introduction</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/n3-rule-based-machine-reasoning#n3-rules-serve-different-purposes">N3-Rules</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="{{ site.baseurl }}/two-step-formalization">Two-Step Formalization</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/literature">Literature</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>

    <script>
      (function($) { // Begin jQuery
        $(function() { // DOM ready
          // If a link has a dropdown, add sub menu toggle.
          $('nav ul li a:not(:only-child)').click(function(e) {
            $(this).siblings('.nav-dropdown').toggle();
            // Close one dropdown when selecting another
            $('.nav-dropdown').not($(this).siblings()).hide();
            e.stopPropagation();
          });
          // Clicking away from dropdown will remove the dropdown class
          $('html').click(function() {
            $('.nav-dropdown').hide();
          });
          // Toggle open and close nav styles on click
          $('#nav-toggle').click(function() {
            $('nav ul').slideToggle();
          });
          // Hamburger to X toggle
          $('#nav-toggle').on('click', function() {
            this.classList.toggle('active');
          });
        }); // end DOM ready
      })(jQuery); // end jQuery
    </script>

    {%- endif -%}
  </div>
</header>