<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if page_paths -%}

      <div class="topnav" id="myTopnav">
        <div class="dropdown">
          <button class="dropbtn">SWT</button>
          <div class="dropdown-content">
            <a href="/semantic-web-technology">Semantic Web Technology</a>
            <a href="/ontology-modeling">Ontology Modeling</a>
          </div>
        </div>
        <a href="/ontology">Ontologies</a>
        <div class="dropdown">
          <button class="dropbtn">Machine Reasoning</button>
          <div class="dropdown-content">
            <a href="/n3-rule-based-machine-reasoning">N3-Rule-Based Machine Reasoning</a>
            <a href="/two-step-formalization">Two-Step Formalization</a>
          </div>
        </div>
        <a href="/literature">Literature</a>
        <a href="/about">About</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
      <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
      </script>
      
    {%- endif -%}
  </div>
</header>
