<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if page_paths -%}

      <div class="topnav" id="myTopnav">
        <a href="/about">About</a>
        <div class="dropdown">
          <button class="dropbtn">Semantic Web Technology</button>
          <div class="dropdown-content">
            <a href="/semantic-web-technology">Introduction</a>
            <a href="/semantic-web-technology#advantages-of-swt">Advantages</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Ontology</button>
          <div class="dropdown-content">
            <a href="/ontology">Library</a>
            <a href="/ontology-modeling">Modeling</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">N3-Rule-Based Machine Reasoning</button>
          <div class="dropdown-content">
            <a href="/n3-rule-based-machine-reasoning">Introduction</a>
            <a href="/n3-rule-based-machine-reasoning#n3-rules-serve-different-purposes">N3-Rules</a>
          </div>
        </div>
        <a href="/two-step-formalization">Two-Step Formalization</a>
        <a href="/literature">Literature</a>
        <a href="javascript:void(0);" style="font-size:20px;" class="icon" onclick="openBurger()">&#9776;</a>
      </div>
      <script>
        function openBurger() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
      </script>
      
    {%- endif -%}
  </div>
</header>