<div class="ontology-formats">
  <a class="format-link" href="{{ site.baseurl }}{{ page.url }}.ttl" download="">Turtle</a> 
  <a class="format-link" href="{{ site.baseurl }}{{ page.url }}.rdf" download="">RDF/XML</a> 
  <a class="format-link" href="{{ site.baseurl }}{{ page.url }}.nt" download="">N-Triples</a> 
  <a class="format-link" href="{{ site.baseurl }}{{ page.url }}.jsonld" download="">JSON-LD</a> 
  <a class="format-link" href="{{ site.baseurl }}{{ site.github_ontologies }}/{{ path_item }}/{{ page.file }}.ttl">
    <svg class="svg-icon">
      <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
    </svg><span>GitHub</span>
  </a>
</div>