/**
 * Site header
 */
.home {
  text-align: center;
}

#inprogress {
  text-align: center;
  color: lightgrey;
  margin-bottom: 25px;
}
/**
 * Site header
 */
.site-header {
  border-top: 5px solid #f7d336;;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  position: fixed;
  width: 100%;
  z-index: 2;
  background: white;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: 70px; 
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

$scroll-margin: 80px;

h2::before { 
  display: block; 
  content: " "; 
  margin-top: -$scroll-margin; 
  height: $scroll-margin; 
  visibility: hidden; 
  pointer-events: none;
}

h3::before { 
  display: block; 
  content: " "; 
  margin-top: -$scroll-margin; 
  height: $scroll-margin; 
  visibility: hidden; 
  pointer-events: none;
}

h4:not(.ontology-title)::before { 
  display: block; 
  content: " "; 
  margin-top: -$scroll-margin; 
  height: $scroll-margin; 
  visibility: hidden; 
  pointer-events: none;
}

h5::before { 
  display: block; 
  content: " "; 
  margin-top: -$scroll-margin; 
  height: $scroll-margin; 
  visibility: hidden; 
  pointer-events: none;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
  text-align: center;
}

.footer-col-3 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
  text-align: right;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
    text-align: center;
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
    text-align: center;
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
  margin-top: 90px;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * Ontology tiles
 */

.ontology-row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.ontology-row,
.ontology-row > .ontology-column {
  padding: 8px;
}

/* Create 6 equal columns that floats next to each other */
.ontology-column {
  float: left;
  width: 16%;
}

.ontology-column a {

  &:hover {
    color: white;
    text-decoration: underline;
  }
}

.ontology-column h4 {
  font-weight: bold;
}

/* Clear floats after rows */
.ontology-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.ontology-content {
  padding: 10px;
  border-radius: 5px;
  height: 250px;
  color: white;
  font-size: 0.8em;
}

.generalDomain {
  background-color: #663399;
}

.generalHumanities {
  background-color: #336699;
}

.specificHumanities {
  background-color: #669999;  
}

.external {
  background-color: #669966;
}

.project {
  background-color: #66CCFF;
}

/* Responsive layout - makes a 5 column-layout */
@media screen and (max-width: 1600px) {
  .ontology-column {
    width: 20%;
  }
  .ontology-content {

  }
}

/* Responsive layout - makes a 4 column-layout */
@media screen and (max-width: 1200px) {
  .ontology-column {
    width: 25%;
  }
  .ontology-content {

  }
}

@media screen and (max-width: 1000px) {
  .ontology-content {
    height: 300px;
  }
}

@media screen and (max-width: 800px) {
  .ontology-content {
    height: 350px;
  }
}

/* Responsive layout - makes a 2 column-layout */
@media screen and (max-width: 700px) {
  .ontology-column {
    width: 50%;
  }
  .ontology-content {
    height: 250px;
  }
}

/* Responsive layout - makes a 1 column-layout */
@media screen and (max-width: 450px) {
  .ontology-column {
    width: 100%;
  }
  .ontology-content {
    height: 200px;
  }
}

/**
 * Ontology
 */

.ontology-formats {
  text-align: right; 
  font-size: 1.5em;
  margin-bottom: 10px;

  .format-link {
    display: inline;
    margin-left: 0.5em;
  }
}


/**
 * Navbar
 */


// Navigation Variables
$content-width: 100%;
$breakpoint: 1490px;
$nav-height: 70px;
$nav-background: white;
$nav-font-color: black;
$link-hover-color: #f7d336;

// Outer navigation wrapper
.navigation {
  height: $nav-height;
  background: $nav-background;
}

// Container with no padding for navbar
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

// Navigation 
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
          text-decoration: none;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  background-color: $nav-background;

  li {
    width: 100%;
  }
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}

@media only screen and (max-width: $breakpoint/2) {

  .ontology-formats {
    .format-link {
      display: block;
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: $breakpoint) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;

    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
  .format-link {
    display: block;
    margin-left: 0;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #424242;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

// Page content 
article {
  max-width: $content-width;
  margin: 0 auto;
  padding: 10px;
}
