---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">

  	<ul>
  		<li><a href="#generic-ontologies">Generic Ontologies</a></li>
  		<li><a href="#project-ontologies">Project Ontologies</a></li>
  	</ul>

  	<h2 id="generic-ontologies">Generic Ontologies</h2>
  	<ul>
		{% for ontology in site.generic %}
  			<li>
  				<b>{{ ontology.title }}</b> (<a href="/e-editiones{{ ontology.url }}">.html</a>, <a href="/e-editiones/ontology/{{ ontology.ttl }}">.ttl</a>)</li>
		{% endfor %}
  	</ul>
  	<h2 id="project-ontologies">Project Ontologies</h2>
  	<ul>
  	</ul>

<!--           {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%} -->



    {{ content }}
  </div>

</article>
