---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">

  	<ul>
  		<li><a href="#generic-ontologies">Generic Ontologies</a></li>
  		<li><a href="#project-ontologies">Project Ontologies</a></li>
  	</ul>

  	<h2 id="generic-ontologies">Generic Ontologies</h2>
  	<ul>
		{% for ontology in site.generic %}
      <li>
        <h4><a href="/e-editiones{{ ontology.url }}">{{ ontology.title }}</a></h4>
      </li>
		{% endfor %}
  	</ul>
    
  	<h2 id="project-ontologies">Project Ontologies</h2>
  	<ul>
    {% for ontology in site.project %}
      <li>
        <h4><a href="/e-editiones{{ ontology.url }}">{{ ontology.title }}</a></h4>
      </li>
    {% endfor %}
  	</ul>

    {{ content }}

  </div>

</article>
