---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <div style="text-align: right; font-size: 1.5em">
      <a href="{{ page.url }}.ttl">Turtle</a> | 
      <a href="{{ page.url }}.rdf">RDF/XML</a> |
      <a href="{{ page.url }}.nt">N-Triples</a> |
      <a href="{{ page.url }}.jsonld">JSON-LD</a> |
      <a href="{{ page.url }}.svg">SVG</a>
    </div>
  </header>

  <div class="post-content">
    {{ content }}
    {% if page.file %}
      {% include ontologies/{{ page.file }}.html %}
    {% endif %}
  </div>

  <div style="text-align: right; font-size: 1.5em">
      <a href="{{ page.url }}.ttl">Turtle</a> | 
      <a href="{{ page.url }}.rdf">RDF/XML</a> |
      <a href="{{ page.url }}.nt">N-Triples</a> |
      <a href="{{ page.url }}.jsonld">JSON-LD</a> |
      <a href="{{ page.url }}.svg">SVG</a>
  </div>
</article>



