---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <div style="text-align: right; font-size: 1.5em">
    	<a href="/e-editiones/ontology/{{ page.file }}.ttl">Turtle</a> | <a href="/e-editiones/ontology/{{ page.file }}.rdf">RDF/XML</a>
    </div>
  </header>

  <div class="post-content">
    {{ content }}
    {% if page.file %}
      {% include ontologies/{{ page.file }}.html %}
    {% endif %}
  </div>

  <div id="rdf2html"></div>

  <div style="text-align: right; font-size: 1.5em">
    <a href="/e-editiones/ontology/{{ page.file }}.ttl">Turtle</a> | <a href="/e-editiones/ontology/{{ page.file }}.rdf">RDF/XML</a>
  </div>
</article>



