<div xmlns="http://www.w3.org/1999/xhtml" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" class="rdf2html">
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/agent" typeof="owl:Ontology">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/agent" title="Browse http://www.e-editiones.ch/ontology/agent">http://www.e-editiones.ch/ ontology/ agent</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#Ontology" title="Browse http://www.w3.org/2002/07/owl#Ontology">owl:Ontology</a></th>
         </tr>
         <tr class="http://purl.org/dc/terms/creator">
            <td><a class="browse" href="http://purl.org/dc/terms/creator" title="Browse http://purl.org/dc/terms/creator">dct:creator</a></td>
            <td property="dct:creator" content="Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University, Switzerland" xml:lang="en">
               <div class="property-object">Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University,
                  Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/description">
            <td><a class="browse" href="http://purl.org/dc/terms/description" title="Browse http://purl.org/dc/terms/description">dct:description</a></td>
            <td property="dct:description" content="Formal description of an agent, general subclasses, related classes and properties." xml:lang="en">
               <div class="property-object">Formal description of an agent, general subclasses, related classes and properties.</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/license">
            <td><a class="browse" href="http://purl.org/dc/terms/license" title="Browse http://purl.org/dc/terms/license">dct:license</a></td>
            <td>
               <div class="property-object" rel="dct:license"><a class="browse" href="http://creativecommons.org/licenses/by/3.0/" title="Browse http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/ licenses/ by/ 3.0/ </a></div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/publisher">
            <td><a class="browse" href="http://purl.org/dc/terms/publisher" title="Browse http://purl.org/dc/terms/publisher">dct:publisher</a></td>
            <td property="dct:publisher" content="Universities of Basel, Bern, and Zürich, Switzerland" xml:lang="en">
               <div class="property-object">Universities of Basel, Bern, and Zürich, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/title">
            <td><a class="browse" href="http://purl.org/dc/terms/title" title="Browse http://purl.org/dc/terms/title">dct:title</a></td>
            <td property="dct:title" content="An ontology about agent" xml:lang="en">
               <div class="property-object">An ontology about agent</div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/agent#Agent" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/agent#Agent" title="Browse http://www.e-editiones.ch/ontology/agent#Agent">agent</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Something performing in an action." xml:lang="en">
               <div class="property-object">Something performing in an action.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/agent#" title="Browse http://www.e-editiones.ch/ontology/agent#">http://www.e-editiones.ch/ ontology/ agent#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Agent" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://xmlns.com/foaf/0.1/Agent" title="Browse http://xmlns.com/foaf/0.1/Agent">http://xmlns.com/ foaf/ 0.1/ Agent</a></div>
               <div class="connector">and</div>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/physical-entity#Entity" title="Browse http://www.e-editiones.ch/ontology/physical-entity#Entity">http://www.e-editiones.ch/ ontology/ physical-entity#Entity</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/agent#Creator" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/agent#Creator" title="Browse http://www.e-editiones.ch/ontology/agent#Creator">creator</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Role of an agent creating something." xml:lang="en">
               <div class="property-object">Role of an agent creating something.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/agent#" title="Browse http://www.e-editiones.ch/ontology/agent#">http://www.e-editiones.ch/ ontology/ agent#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="creator" xml:lang="en">
               <div class="property-object">creator</div>
               <div class="connector">and</div><span property="rdfs:label" content="Erschaffer" xml:lang="de"></span><div class="property-object">Erschaffer</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Erschaffer" xml:lang="de"></div>
         <tr class="http://www.w3.org/2004/02/skos/core#note">
            <td><a class="browse" href="http://www.w3.org/2004/02/skos/core#note" title="Browse http://www.w3.org/2004/02/skos/core#note">skos:note</a></td>
            <td property="skos:note" content="Does not need to be a person." xml:lang="en">
               <div class="property-object">Does not need to be a person.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/agent#Role" title="Browse http://www.e-editiones.ch/ontology/agent#Role">agent's role</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/agent#Group" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/agent#Group" title="Browse http://www.e-editiones.ch/ontology/agent#Group">group of agents</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Group of agents." xml:lang="en">
               <div class="property-object">Group of agents.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/agent#" title="Browse http://www.e-editiones.ch/ontology/agent#">http://www.e-editiones.ch/ ontology/ agent#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="group of agents" xml:lang="en">
               <div class="property-object">group of agents</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/agent#Agent" title="Browse http://www.e-editiones.ch/ontology/agent#Agent">agent</a></div>
               <div class="connector">and</div>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://xmlns.com/foaf/0.1/Group" title="Browse http://xmlns.com/foaf/0.1/Group">http://xmlns.com/ foaf/ 0.1/ Group</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/agent#GroupRole" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/agent#GroupRole" title="Browse http://www.e-editiones.ch/ontology/agent#GroupRole">group role</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Role of a group of agents." xml:lang="en">
               <div class="property-object">Role of a group of agents.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/agent#" title="Browse http://www.e-editiones.ch/ontology/agent#">http://www.e-editiones.ch/ ontology/ agent#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="group role" xml:lang="en">
               <div class="property-object">group role</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/agent#Role" title="Browse http://www.e-editiones.ch/ontology/agent#Role">agent's role</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/agent#Organization" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/agent#Organization" title="Browse http://www.e-editiones.ch/ontology/agent#Organization">organization</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Organized group of agents." xml:lang="en">
               <div class="property-object">Organized group of agents.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/agent#" title="Browse http://www.e-editiones.ch/ontology/agent#">http://www.e-editiones.ch/ ontology/ agent#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="organization" xml:lang="en">
               <div class="property-object">organization</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2004/02/skos/core#note">
            <td><a class="browse" href="http://www.w3.org/2004/02/skos/core#note" title="Browse http://www.w3.org/2004/02/skos/core#note">skos:note</a></td>
            <td property="skos:note" content="Not 'rdfs:subClassOf foaf:Organization' because the latter involves persons." xml:lang="en">
               <div class="property-object">Not 'rdfs:subClassOf foaf:Organization' because the latter involves persons.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/agent#Group" title="Browse http://www.e-editiones.ch/ontology/agent#Group">group of agents</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/agent#OrganizationRole" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/agent#OrganizationRole" title="Browse http://www.e-editiones.ch/ontology/agent#OrganizationRole">organization role</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Role of an Organization of agents." xml:lang="en">
               <div class="property-object">Role of an Organization of agents.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/agent#" title="Browse http://www.e-editiones.ch/ontology/agent#">http://www.e-editiones.ch/ ontology/ agent#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="organization role" xml:lang="en">
               <div class="property-object">organization role</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/agent#GroupRole" title="Browse http://www.e-editiones.ch/ontology/agent#GroupRole">group role</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/agent#Role" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/agent#Role" title="Browse http://www.e-editiones.ch/ontology/agent#Role">agent's role</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Specific function of an agent." xml:lang="en">
               <div class="property-object">Specific function of an agent.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2002/07/owl#disjointWith">
            <td><a class="browse" href="http://www.w3.org/2002/07/owl#disjointWith" title="Browse http://www.w3.org/2002/07/owl#disjointWith">owl:disjointWith</a></td>
            <td>
               <div class="property-object" rel="owl:disjointWith"><a class="browse" href="/ontology/agent#Agent" title="Browse http://www.e-editiones.ch/ontology/agent#Agent">agent</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/agent#" title="Browse http://www.e-editiones.ch/ontology/agent#">http://www.e-editiones.ch/ ontology/ agent#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="agent's role" xml:lang="en">
               <div class="property-object">agent's role</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Resource" title="Browse http://www.w3.org/2000/01/rdf-schema#Resource">rdfs:Resource</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/agent#User" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/agent#User" title="Browse http://www.e-editiones.ch/ontology/agent#User">user</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Role of an agent taking something into service or applying for a purpose." xml:lang="en">
               <div class="property-object">Role of an agent taking something into service or applying for a purpose.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/agent#" title="Browse http://www.e-editiones.ch/ontology/agent#">http://www.e-editiones.ch/ ontology/ agent#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="user" xml:lang="en">
               <div class="property-object">user</div>
               <div class="connector">and</div><span property="rdfs:label" content="BenutzerIn" xml:lang="de"></span><div class="property-object">BenutzerIn</div>
            </td>
         </tr>
         <div property="rdfs:label" content="BenutzerIn" xml:lang="de"></div>
         <tr class="http://www.w3.org/2004/02/skos/core#note">
            <td><a class="browse" href="http://www.w3.org/2004/02/skos/core#note" title="Browse http://www.w3.org/2004/02/skos/core#note">skos:note</a></td>
            <td property="skos:note" content="Does not need to be a person." xml:lang="en">
               <div class="property-object">Does not need to be a person.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/agent#Role" title="Browse http://www.e-editiones.ch/ontology/agent#Role">agent's role</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/agent#UserCredential" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/agent#UserCredential" title="Browse http://www.e-editiones.ch/ontology/agent#UserCredential">user credential</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Convincible information as input to get user access, e.g. to a digital multiuser computer system." xml:lang="en">
               <div class="property-object">Convincible information as input to get user access, e.g. to a digital multiuser computer
                  system.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/agent#" title="Browse http://www.e-editiones.ch/ontology/agent#">http://www.e-editiones.ch/ ontology/ agent#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Benutzeranmeldeinformationen" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/event#Input" title="Browse http://www.e-editiones.ch/ontology/event#Input">http://www.e-editiones.ch/ ontology/ event#Input</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/agent#actsIn" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/agent#actsIn" title="Browse http://www.e-editiones.ch/ontology/agent#actsIn">acts in</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating an agent to an action the agent is acting in." xml:lang="en">
               <div class="property-object">Relating an agent to an action the agent is acting in.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="/ontology/agent#Agent" title="Browse http://www.e-editiones.ch/ontology/agent#Agent">agent</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/agent#" title="Browse http://www.e-editiones.ch/ontology/agent#">http://www.e-editiones.ch/ ontology/ agent#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="agiert in" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="/ontology/event#Action" title="Browse http://www.e-editiones.ch/ontology/event#Action">http://www.e-editiones.ch/ ontology/ event#Action</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/agent#hasCreator" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/agent#hasCreator" title="Browse http://www.e-editiones.ch/ontology/agent#hasCreator">has creator</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating something to an agent that created it." xml:lang="en">
               <div class="property-object">Relating something to an agent that created it.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Resource" title="Browse http://www.w3.org/2000/01/rdf-schema#Resource">rdfs:Resource</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/agent#" title="Browse http://www.e-editiones.ch/ontology/agent#">http://www.e-editiones.ch/ ontology/ agent#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="has creator" xml:lang="en">
               <div class="property-object">has creator</div>
               <div class="connector">and</div><span property="rdfs:label" content="hat ErschafferIn" xml:lang="de"></span><div class="property-object">hat ErschafferIn</div>
            </td>
         </tr>
         <div property="rdfs:label" content="hat ErschafferIn" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range">
                  <table typeof="rdfs:Resource">
                     <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
                        <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
                        <td>
                           <div class="property-object" rel="rdfs:subClassOf">
                              <table typeof="owl:Restriction">
                                 <tr>
                                    <th colspan="2"><a class="browse" href="http://www.w3.org/2002/07/owl#Restriction" title="Browse http://www.w3.org/2002/07/owl#Restriction">owl:Restriction</a></th>
                                 </tr>
                                 <tr class="http://www.w3.org/2002/07/owl#onProperty">
                                    <td><a class="browse" href="http://www.w3.org/2002/07/owl#onProperty" title="Browse http://www.w3.org/2002/07/owl#onProperty">owl:onProperty</a></td>
                                    <td>
                                       <div class="property-object" rel="owl:onProperty"><a class="browse" href="/ontology/agent#hasRole" title="Browse http://www.e-editiones.ch/ontology/agent#hasRole">has role</a></div>
                                    </td>
                                 </tr>
                                 <tr class="http://www.w3.org/2002/07/owl#someValuesFrom">
                                    <td><a class="browse" href="http://www.w3.org/2002/07/owl#someValuesFrom" title="Browse http://www.w3.org/2002/07/owl#someValuesFrom">owl:someValuesFrom</a></td>
                                    <td>
                                       <div class="property-object" rel="owl:someValuesFrom"><a class="browse" href="/ontology/agent#Creator" title="Browse http://www.e-editiones.ch/ontology/agent#Creator">creator</a></div>
                                    </td>
                                 </tr>
                              </table>
                           </div>
                           <div class="connector">and</div>
                           <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/agent#Agent" title="Browse http://www.e-editiones.ch/ontology/agent#Agent">agent</a></div>
                        </td>
                     </tr>
                  </table>
               </div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/agent#hasRole" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/agent#hasRole" title="Browse http://www.e-editiones.ch/ontology/agent#hasRole">has role</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating an agent to a role it,s/he has." xml:lang="en">
               <div class="property-object">Relating an agent to a role it,s/he has.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="/ontology/agent#Agent" title="Browse http://www.e-editiones.ch/ontology/agent#Agent">agent</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/agent#" title="Browse http://www.e-editiones.ch/ontology/agent#">http://www.e-editiones.ch/ ontology/ agent#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="has role" xml:lang="en">
               <div class="property-object">has role</div>
               <div class="connector">and</div><span property="rdfs:label" content="hat Rolle" xml:lang="de"></span><div class="property-object">hat Rolle</div>
            </td>
         </tr>
         <div property="rdfs:label" content="hat Rolle" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="/ontology/agent#Role" title="Browse http://www.e-editiones.ch/ontology/agent#Role">agent's role</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/agent#hasUser" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/agent#hasUser" title="Browse http://www.e-editiones.ch/ontology/agent#hasUser">has user</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating something to an agent using it." xml:lang="en">
               <div class="property-object">Relating something to an agent using it.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Resource" title="Browse http://www.w3.org/2000/01/rdf-schema#Resource">rdfs:Resource</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/agent#" title="Browse http://www.e-editiones.ch/ontology/agent#">http://www.e-editiones.ch/ ontology/ agent#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="hat Benutzer" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range">
                  <table typeof="rdfs:Resource">
                     <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
                        <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
                        <td>
                           <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/agent#Agent" title="Browse http://www.e-editiones.ch/ontology/agent#Agent">agent</a></div>
                           <div class="connector">and</div>
                           <div class="property-object" rel="rdfs:subClassOf">
                              <table typeof="owl:Restriction">
                                 <tr>
                                    <th colspan="2"><a class="browse" href="http://www.w3.org/2002/07/owl#Restriction" title="Browse http://www.w3.org/2002/07/owl#Restriction">owl:Restriction</a></th>
                                 </tr>
                                 <tr class="http://www.w3.org/2002/07/owl#onProperty">
                                    <td><a class="browse" href="http://www.w3.org/2002/07/owl#onProperty" title="Browse http://www.w3.org/2002/07/owl#onProperty">owl:onProperty</a></td>
                                    <td>
                                       <div class="property-object" rel="owl:onProperty"><a class="browse" href="/ontology/agent#hasRole" title="Browse http://www.e-editiones.ch/ontology/agent#hasRole">has role</a></div>
                                    </td>
                                 </tr>
                                 <tr class="http://www.w3.org/2002/07/owl#someValuesFrom">
                                    <td><a class="browse" href="http://www.w3.org/2002/07/owl#someValuesFrom" title="Browse http://www.w3.org/2002/07/owl#someValuesFrom">owl:someValuesFrom</a></td>
                                    <td>
                                       <div class="property-object" rel="owl:someValuesFrom"><a class="browse" href="/ontology/agent#User" title="Browse http://www.e-editiones.ch/ontology/agent#User">user</a></div>
                                    </td>
                                 </tr>
                              </table>
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/agent#isMemberOf" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/agent#isMemberOf" title="Browse http://www.e-editiones.ch/ontology/agent#isMemberOf">is member of</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating an agent to a group the agent is a member of." xml:lang="en">
               <div class="property-object">Relating an agent to a group the agent is a member of.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="/ontology/agent#Agent" title="Browse http://www.e-editiones.ch/ontology/agent#Agent">agent</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/agent#" title="Browse http://www.e-editiones.ch/ontology/agent#">http://www.e-editiones.ch/ ontology/ agent#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="ist Mitglied" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="/ontology/agent#Group" title="Browse http://www.e-editiones.ch/ontology/agent#Group">group of agents</a></div>
            </td>
         </tr>
      </table>
   </div>
</div>