<div xmlns="http://www.w3.org/1999/xhtml" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" class="rdf2html">
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/catholic-orders" typeof="owl:Ontology">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders" title="Browse http://www.e-editiones.ch/ontology/catholic-orders">http://www.e-editiones.ch/ ontology/ catholic-orders</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#Ontology" title="Browse http://www.w3.org/2002/07/owl#Ontology">owl:Ontology</a></th>
         </tr>
         <tr class="http://purl.org/dc/terms/contributor">
            <td><a class="browse" href="http://purl.org/dc/terms/contributor" title="Browse http://purl.org/dc/terms/contributor">dct:contributor</a></td>
            <td property="dct:contributor" content="Prof. Dr. Ueli Zahnd, Faculty of Theology, University of Basel, Switzerland" xml:lang="en">
               <div class="property-object">Prof. Dr. Ueli Zahnd, Faculty of Theology, University of Basel, Switzerland</div>
               <div class="connector">and</div><span property="dct:contributor" content="Gabriel Müller, Faculty of Theology, University of Basel, Switzerland" xml:lang="en"></span><div class="property-object">Gabriel Müller, Faculty of Theology, University of Basel, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/creator">
            <td><a class="browse" href="http://purl.org/dc/terms/creator" title="Browse http://purl.org/dc/terms/creator">dct:creator</a></td>
            <td property="dct:creator" content="Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University, Switzerland" xml:lang="en">
               <div class="property-object">Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University,
                  Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/description">
            <td><a class="browse" href="http://purl.org/dc/terms/description" title="Browse http://purl.org/dc/terms/description">dct:description</a></td>
            <td property="dct:description" content="Formal description of catholic orders, general subclasses, related classes, properties, and instances." xml:lang="en">
               <div class="property-object">Formal description of catholic orders, general subclasses, related classes, properties,
                  and instances.</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/license">
            <td><a class="browse" href="http://purl.org/dc/terms/license" title="Browse http://purl.org/dc/terms/license">dct:license</a></td>
            <td>
               <div class="property-object" rel="dct:license"><a class="browse" href="http://creativecommons.org/licenses/by/3.0/" title="Browse http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/ licenses/ by/ 3.0/ </a></div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/title">
            <td><a class="browse" href="http://purl.org/dc/terms/title" title="Browse http://purl.org/dc/terms/title">dct:title</a></td>
            <td property="dct:title" content="An ontology about catholic orders" xml:lang="en">
               <div class="property-object">An ontology about catholic orders</div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/catholic-orders#AugustinianFriars" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#AugustinianFriars" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#AugustinianFriars">Order of Augustinian Friars</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="." xml:lang="en">
               <div class="property-object">.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#">http://www.e-editiones.ch/ ontology/ catholic-orders#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Ordo Fratrum Sancti Augustini" xml:lang="la"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Order" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Order">catholic order</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/catholic-orders#Benedictines" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Benedictines" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Benedictines">Order of Benedictines</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="." xml:lang="en">
               <div class="property-object">.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#">http://www.e-editiones.ch/ ontology/ catholic-orders#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Order of Benedictines" xml:lang="en">
               <div class="property-object">Order of Benedictines</div>
               <div class="connector">and</div><span property="rdfs:label" content="Ordo Sancti Benedicti" xml:lang="la"></span><div class="property-object">Ordo Sancti Benedicti</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Ordo Sancti Benedicti" xml:lang="la"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Order" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Order">catholic order</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/catholic-orders#Carmelites" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Carmelites" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Carmelites">Order of Carmelites</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="." xml:lang="en">
               <div class="property-object">.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#">http://www.e-editiones.ch/ ontology/ catholic-orders#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Order of Carmelites" xml:lang="en">
               <div class="property-object">Order of Carmelites</div>
               <div class="connector">and</div><span property="rdfs:label" content="Ordo Fratrum Beatissimae Mariae Virginis de Monte Carmelo" xml:lang="la"></span><div class="property-object">Ordo Fratrum Beatissimae Mariae Virginis de Monte Carmelo</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Ordo Fratrum Beatissimae Mariae Virginis de Monte Carmelo" xml:lang="la"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Order" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Order">catholic order</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/catholic-orders#Carthusians" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Carthusians" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Carthusians">Order of Carthusians</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="." xml:lang="en">
               <div class="property-object">.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#">http://www.e-editiones.ch/ ontology/ catholic-orders#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Order of Carthusians" xml:lang="en">
               <div class="property-object">Order of Carthusians</div>
               <div class="connector">and</div><span property="rdfs:label" content="Ordo Cartusiensis" xml:lang="la"></span><div class="property-object">Ordo Cartusiensis</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Ordo Cartusiensis" xml:lang="la"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Order" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Order">catholic order</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/catholic-orders#Cistercians" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Cistercians" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Cistercians">Order of Cistercians</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="." xml:lang="en">
               <div class="property-object">.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#">http://www.e-editiones.ch/ ontology/ catholic-orders#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Order of Cistercians" xml:lang="en">
               <div class="property-object">Order of Cistercians</div>
               <div class="connector">and</div><span property="rdfs:label" content="Ordo Cisterciensis" xml:lang="la"></span><div class="property-object">Ordo Cisterciensis</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Ordo Cisterciensis" xml:lang="la"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Order" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Order">catholic order</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/catholic-orders#ConventualFranciscans" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#ConventualFranciscans" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#ConventualFranciscans">Order of Conventual Franciscans</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="." xml:lang="en">
               <div class="property-object">.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#">http://www.e-editiones.ch/ ontology/ catholic-orders#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Ordo Fratrum Minorum Conventualium" xml:lang="la"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Franciscans" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Franciscans">Order of Franciscans</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/catholic-orders#Dominicans" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Dominicans" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Dominicans">Order of Dominicans</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="." xml:lang="en">
               <div class="property-object">.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#">http://www.e-editiones.ch/ ontology/ catholic-orders#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Ordo Fratrum Praedicatorum" xml:lang="la"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Order" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Order">catholic order</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/catholic-orders#Franciscans" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Franciscans" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Franciscans">Order of Franciscans</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="." xml:lang="en">
               <div class="property-object">.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#">http://www.e-editiones.ch/ ontology/ catholic-orders#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Order of Franciscans" xml:lang="en">
               <div class="property-object">Order of Franciscans</div>
               <div class="connector">and</div><span property="rdfs:label" content="Ordo Fratrum Minorum" xml:lang="la"></span><div class="property-object">Ordo Fratrum Minorum</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Ordo Fratrum Minorum" xml:lang="la"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Order" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Order">catholic order</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/catholic-orders#Jesuits" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Jesuits" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Jesuits">Order of Jesuits</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="." xml:lang="en">
               <div class="property-object">.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#">http://www.e-editiones.ch/ ontology/ catholic-orders#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Order of Jesuits" xml:lang="en">
               <div class="property-object">Order of Jesuits</div>
               <div class="connector">and</div><span property="rdfs:label" content="Societas Iesu" xml:lang="la"></span><div class="property-object">Societas Iesu</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Societas Iesu" xml:lang="la"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Order" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Order">catholic order</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/catholic-orders#ObservantFranciscans" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#ObservantFranciscans" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#ObservantFranciscans">Order of ObservantFrant Franciscans</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="." xml:lang="en">
               <div class="property-object">.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#">http://www.e-editiones.ch/ ontology/ catholic-orders#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Order of ObservantFrant Franciscans" xml:lang="en">
               <div class="property-object">Order of ObservantFrant Franciscans</div>
               <div class="connector">and</div><span property="rdfs:label" content="Ordo Fratrum Minorum Observantiae" xml:lang="la"></span><div class="property-object">Ordo Fratrum Minorum Observantiae</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Ordo Fratrum Minorum Observantiae" xml:lang="la"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Franciscans" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Franciscans">Order of Franciscans</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/catholic-orders#Order" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Order" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Order">catholic order</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Catholic organization whose member is by acceptance rule male and celibatarian, founded by... ." xml:lang="en">
               <div class="property-object">Catholic organization whose member is by acceptance rule male and celibatarian, founded
                  by... .</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#">http://www.e-editiones.ch/ ontology/ catholic-orders#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="catholic order" xml:lang="en">
               <div class="property-object">catholic order</div>
               <div class="connector">and</div><span property="rdfs:label" content="katholische Orden" xml:lang="de"></span><div class="property-object">katholische Orden</div>
            </td>
         </tr>
         <div property="rdfs:label" content="katholische Orden" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-organization#Organization" title="Browse http://www.e-editiones.ch/ontology/catholic-organization#Organization">http://www.e-editiones.ch/ ontology/ catholic-organization#Organization</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/catholic-orders#Person" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Person" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Person">catholic order person</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Catholic person belonging to an order." xml:lang="en">
               <div class="property-object">Catholic person belonging to an order.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#">http://www.e-editiones.ch/ ontology/ catholic-orders#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="catholic order person" xml:lang="en">
               <div class="property-object">catholic order person</div>
               <div class="connector">and</div><span property="rdfs:label" content="Person eines katholischen Ordens" xml:lang="de"></span><div class="property-object">Person eines katholischen Ordens</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Person eines katholischen Ordens" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-organization#Person" title="Browse http://www.e-editiones.ch/ontology/catholic-organization#Person">http://www.e-editiones.ch/ ontology/ catholic-organization#Person</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/catholic-orders#isMemberOf" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#isMemberOf" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#isMemberOf">is member of catholic order</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a catholic person to a catholic order the person is a member of." xml:lang="en">
               <div class="property-object">Relating a catholic person to a catholic order the person is a member of.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Person" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Person">catholic order person</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#">http://www.e-editiones.ch/ ontology/ catholic-orders#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="ist Mitglied einem katholischen Orden" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-orders#Order" title="Browse http://www.e-editiones.ch/ontology/catholic-orders#Order">catholic order</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subPropertyOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subPropertyOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subPropertyOf">rdfs:subPropertyOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subPropertyOf"><a class="browse" href="http://www.e-editiones.ch/ontology/catholic-organization#isMemberOf" title="Browse http://www.e-editiones.ch/ontology/catholic-organization#isMemberOf">http://www.e-editiones.ch/ ontology/ catholic-organization#isMemberOf</a></div>
            </td>
         </tr>
      </table>
   </div>
</div>