<div xmlns="http://www.w3.org/1999/xhtml" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:owl="http://www.w3.org/2002/07/owl#" xmlns:dct="http://purl.org/dc/terms/" xmlns:xsd="http://www.w3.org/2001/XMLSchema#" class="rdf2html">
   <div id="" class="description">
      <table about="http://e-editiones.ch/ontology/catholic-organization" typeof="owl:Ontology">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/catholic-organization" title="Browse http://e-editiones.ch/ontology/catholic-organization"></a><div xmlns="" class="connector"></div><a class="browse" href="http://www.w3.org/2002/07/owl#Ontology" title="Browse http://www.w3.org/2002/07/owl#Ontology">owl:Ontology</a></th>
         </tr>
         <tr class="http://purl.org/dc/terms/contributor">
            <td style="width: 25%;"><a class="browse" href="http://purl.org/dc/terms/contributor" title="Browse http://purl.org/dc/terms/contributor">dct:contributor</a></td>
            <td property="dct:contributor" content="Prof. Dr. Ueli Zahnd, Faculty of Theology, University of Basel, Switzerland" xml:lang="en">
               <div class="property-object">Prof. Dr. Ueli Zahnd, Faculty of Theology, University of Basel, Switzerland</div>
               <div class="connector"></div><span property="dct:contributor" content="Roberta Padlina, project coordinator and software developer, University of Basel, Switzerland" xml:lang="en"></span><div class="property-object">Roberta Padlina, project coordinator and software developer, University of Basel,
                  Switzerland
                  													
                  													(en)
                  												</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/creator">
            <td style="width: 25%;"><a class="browse" href="http://purl.org/dc/terms/creator" title="Browse http://purl.org/dc/terms/creator">dct:creator</a></td>
            <td property="dct:creator" content="Hans Cools, MD, knowledge engineer, ontologist, software developer, University of Basel, Switzerland" xml:lang="en">
               <div class="property-object">Hans Cools, MD, knowledge engineer, ontologist, software developer, University of
                  Basel, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/description">
            <td style="width: 25%;"><a class="browse" href="http://purl.org/dc/terms/description" title="Browse http://purl.org/dc/terms/description">dct:description</a></td>
            <td property="dct:description" content="Formal description of catholic organization, general subclasses, related classes, properties, and instances." xml:lang="en">
               <div class="property-object">Formal description of catholic organization, general subclasses, related classes,
                  properties, and instances.</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/license">
            <td style="width: 25%;"><a class="browse" href="http://purl.org/dc/terms/license" title="Browse http://purl.org/dc/terms/license">dct:license</a></td>
            <td>
               <div class="property-object" rel="dct:license"><a class="browse" href="http://creativecommons.org/licenses/by/3.0/" title="Browse http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/ licenses/ by/ 3.0/ </a></div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/publisher">
            <td style="width: 25%;"><a class="browse" href="http://purl.org/dc/terms/publisher" title="Browse http://purl.org/dc/terms/publisher">dct:publisher</a></td>
            <td property="dct:publisher" content="Universities of Basel, Bern, and Zürich, Switzerland" xml:lang="en">
               <div class="property-object">Universities of Basel, Bern, and Zürich, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/title">
            <td style="width: 25%;"><a class="browse" href="http://purl.org/dc/terms/title" title="Browse http://purl.org/dc/terms/title">dct:title</a></td>
            <td property="dct:title" content="An ontology about catholic organization" xml:lang="en">
               <div class="property-object">An ontology about catholic organization</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2002/07/owl#versionInfo">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2002/07/owl#versionInfo" title="Browse http://www.w3.org/2002/07/owl#versionInfo">owl:versionInfo</a></td>
            <td xmlns:d1e24="http://www.w3.org/2001/XMLSchema#" property="owl:versionInfo" content="2020-06-11" datatype="xsd:date">
               <div class="property-object">2020-06-11</div>
            </td>
         </tr>
      </table>
   </div>
   <h2>Classes</h2>
   <div id="Organization" class="description">
      <table about="http://e-editiones.ch/ontology/catholic-organization#Organization" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/catholic-organization#Organization" title="Browse http://e-editiones.ch/ontology/catholic-organization#Organization">catholic-organization:Organization</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Organization representing a catholic belief." xml:lang="en">
               <div class="property-object">Organization representing a catholic belief.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/catholic-organization#" title="Browse http://e-editiones.ch/ontology/catholic-organization#">catholic-organization:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="katholische Organisation" xml:lang="de">
               <div class="property-object">katholische Organisation
                  													(de)
                  												</div>
               <div class="connector"></div><span property="rdfs:label" content="catholic organization" xml:lang="en"></span><div class="property-object">catholic organization
                  													
                  													(en)
                  												</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://e-editiones.ch/ontology/organization#ReligiousOrganization" title="Browse http://e-editiones.ch/ontology/organization#ReligiousOrganization">organization:ReligiousOrganization</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div id="Person" class="description">
      <table about="http://e-editiones.ch/ontology/catholic-organization#Person" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/catholic-organization#Person" title="Browse http://e-editiones.ch/ontology/catholic-organization#Person">catholic-organization:Person</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Person having a catholic belief." xml:lang="en">
               <div class="property-object">Person having a catholic belief.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/catholic-organization#" title="Browse http://e-editiones.ch/ontology/catholic-organization#">catholic-organization:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="catholic person" xml:lang="en">
               <div class="property-object">catholic person
                  													(en)
                  												</div>
               <div class="connector"></div><span property="rdfs:label" content="persona cattolica" xml:lang="it"></span><div class="property-object">persona cattolica
                  													
                  													(it)
                  												</div>
               <div class="connector"></div><span property="rdfs:label" content="personne catholique" xml:lang="fr"></span><div class="property-object">personne catholique
                  													
                  													(fr)
                  												</div>
               <div class="connector"></div><span property="rdfs:label" content="katholische Person" xml:lang="de"></span><div class="property-object">katholische Person
                  													
                  													(de)
                  												</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://e-editiones.ch/ontology/organization#ReligiousPerson" title="Browse http://e-editiones.ch/ontology/organization#ReligiousPerson">organization:ReligiousPerson</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div id="SecularClergy" class="description">
      <table about="http://e-editiones.ch/ontology/catholic-organization#SecularClergy" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/catholic-organization#SecularClergy" title="Browse http://e-editiones.ch/ontology/catholic-organization#SecularClergy">catholic-organization:SecularClergy</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Catholic organization whose member does not take religious vows and does not live in an institution." xml:lang="en">
               <div class="property-object">Catholic organization whose member does not take religious vows and does not live
                  in an institution.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/catholic-organization#" title="Browse http://e-editiones.ch/ontology/catholic-organization#">catholic-organization:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="secular clergy" xml:lang="en">
               <div class="property-object">secular clergy
                  													(en)
                  												</div>
               <div class="connector"></div><span property="rdfs:label" content="Weltklerus" xml:lang="de"></span><div class="property-object">Weltklerus
                  													
                  													(de)
                  												</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://e-editiones.ch/ontology/catholic-organization#Organization" title="Browse http://e-editiones.ch/ontology/catholic-organization#Organization">catholic-organization:Organization</a></div>
            </td>
         </tr>
      </table>
   </div>
   <h2>Properties</h2>
   <div id="isMemberOf" class="description">
      <table about="http://e-editiones.ch/ontology/catholic-organization#isMemberOf" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/catholic-organization#isMemberOf" title="Browse http://e-editiones.ch/ontology/catholic-organization#isMemberOf">catholic-organization:isMemberOf</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a person to a catholic organization the person is a member of." xml:lang="en">
               <div class="property-object">Relating a person to a catholic organization the person is a member of.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://e-editiones.ch/ontology/catholic-organization#Person" title="Browse http://e-editiones.ch/ontology/catholic-organization#Person">catholic-organization:Person</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/catholic-organization#" title="Browse http://e-editiones.ch/ontology/catholic-organization#">catholic-organization:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="is member of catholic organization" xml:lang="en">
               <div class="property-object">is member of catholic organization
                  													(en)
                  												</div>
               <div class="connector"></div><span property="rdfs:label" content="ist Mitglied einer katholischen Organisation" xml:lang="de"></span><div class="property-object">ist Mitglied einer katholischen Organisation
                  													
                  													(de)
                  												</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://e-editiones.ch/ontology/catholic-organization#Organization" title="Browse http://e-editiones.ch/ontology/catholic-organization#Organization">catholic-organization:Organization</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subPropertyOf">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subPropertyOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subPropertyOf">rdfs:subPropertyOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subPropertyOf"><a class="browse" href="http://e-editiones.ch/ontology/organization#isMemberOfReligiousOrganization" title="Browse http://e-editiones.ch/ontology/organization#isMemberOfReligiousOrganization">organization:isMemberOfReligiousOrganization</a></div>
            </td>
         </tr>
      </table>
   </div>
</div>