<div xmlns="http://www.w3.org/1999/xhtml" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" class="rdf2html">
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/datatypes" typeof="owl:Ontology">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/datatypes" title="Browse http://www.e-editiones.ch/ontology/datatypes">http://www.e-editiones.ch/ ontology/ datatypes</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#Ontology" title="Browse http://www.w3.org/2002/07/owl#Ontology">owl:Ontology</a></th>
         </tr>
         <tr class="http://purl.org/dc/terms/creator">
            <td><a class="browse" href="http://purl.org/dc/terms/creator" title="Browse http://purl.org/dc/terms/creator">dct:creator</a></td>
            <td property="dct:creator" content="Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University, Switzerland" xml:lang="en">
               <div class="property-object">Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University,
                  Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/description">
            <td><a class="browse" href="http://purl.org/dc/terms/description" title="Browse http://purl.org/dc/terms/description">dct:description</a></td>
            <td property="dct:description" content="Formal description of datatypes, functioning as link between terminology and coding systems and OWL ontologies." xml:lang="en">
               <div class="property-object">Formal description of datatypes, functioning as link between terminology and coding
                  systems and OWL ontologies.</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/license">
            <td><a class="browse" href="http://purl.org/dc/terms/license" title="Browse http://purl.org/dc/terms/license">dct:license</a></td>
            <td>
               <div class="property-object" rel="dct:license"><a class="browse" href="http://creativecommons.org/licenses/by/3.0/" title="Browse http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/ licenses/ by/ 3.0/ </a></div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/publisher">
            <td><a class="browse" href="http://purl.org/dc/terms/publisher" title="Browse http://purl.org/dc/terms/publisher">dct:publisher</a></td>
            <td property="dct:publisher" content="Universities of Basel, Bern, and Zürich, Switzerland" xml:lang="en">
               <div class="property-object">Universities of Basel, Bern, and Zürich, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/title">
            <td><a class="browse" href="http://purl.org/dc/terms/title" title="Browse http://purl.org/dc/terms/title">dct:title</a></td>
            <td property="dct:title" content="An ontology about datatypes" xml:lang="en">
               <div class="property-object">An ontology about datatypes</div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/datatypes#gnd" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/datatypes#gnd" title="Browse http://www.e-editiones.ch/ontology/datatypes#gnd">GND-datatype</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a>, 
               <div rel="rdf:type" class="connector"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Datatype" title="Browse http://www.w3.org/2000/01/rdf-schema#Datatype">rdfs:Datatype</a></div>
            </th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Datatype to type a GND-identifier." xml:lang="en">
               <div class="property-object">Datatype to type a GND-identifier.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/datatypes#" title="Browse http://www.e-editiones.ch/ontology/datatypes#">http://www.e-editiones.ch/ ontology/ datatypes#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="GND-datatype" xml:lang="en">
               <div class="property-object">GND-datatype</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Resource" title="Browse http://www.w3.org/2000/01/rdf-schema#Resource">rdfs:Resource</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/datatypes#gndScheme" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/datatypes#gndScheme" title="Browse http://www.e-editiones.ch/ontology/datatypes#gndScheme">GND-scheme</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a>, 
               <div rel="rdf:type" class="connector"><a class="browse" href="http://www.w3.org/2004/02/skos/core#ConceptScheme" title="Browse http://www.w3.org/2004/02/skos/core#ConceptScheme">skos:ConceptScheme</a></div>
            </th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="The Integrated Authority File (in German Gemeinsame Normdatei, GND) is an authority file for persons, corporate bodies, conferences and events, geographic information, topics and works." xml:lang="en">
               <div class="property-object">The Integrated Authority File (in German Gemeinsame Normdatei, GND) is an authority
                  file for persons, corporate bodies, conferences and events, geographic information,
                  topics and works.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/datatypes#" title="Browse http://www.e-editiones.ch/ontology/datatypes#">http://www.e-editiones.ch/ ontology/ datatypes#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="GND-scheme" xml:lang="en">
               <div class="property-object">GND-scheme</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#seeAlso">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#seeAlso" title="Browse http://www.w3.org/2000/01/rdf-schema#seeAlso">rdfs:seeAlso</a></td>
            <td>
               <div class="property-object" rel="rdfs:seeAlso"><a class="browse" href="https://www.dnb.de/EN/Standardisierung/GND/gnd_node.html" title="Browse https://www.dnb.de/EN/Standardisierung/GND/gnd_node.html">https://www.dnb.de/ EN/ Standardisierung/ GND/ gnd node.html</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Resource" title="Browse http://www.w3.org/2000/01/rdf-schema#Resource">rdfs:Resource</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/datatypes#hasGNDIdentifier" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/datatypes#hasGNDIdentifier" title="Browse http://www.e-editiones.ch/ontology/datatypes#hasGNDIdentifier">has GND-identifier</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a resource to its GND-identifier." xml:lang="en">
               <div class="property-object">Relating a resource to its GND-identifier.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Resource" title="Browse http://www.w3.org/2000/01/rdf-schema#Resource">rdfs:Resource</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/datatypes#" title="Browse http://www.e-editiones.ch/ontology/datatypes#">http://www.e-editiones.ch/ ontology/ datatypes#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="has GND-identifier" xml:lang="en">
               <div class="property-object">has GND-identifier</div>
               <div class="connector">and</div><span property="rdfs:label" content="hat GND-Identifikator" xml:lang="de"></span><div class="property-object">hat GND-Identifikator</div>
            </td>
         </tr>
         <div property="rdfs:label" content="hat GND-Identifikator" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://www.w3.org/2004/02/skos/core#Concept" title="Browse http://www.w3.org/2004/02/skos/core#Concept">skos:Concept</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/datatypes#hasOAIIdentifier" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/datatypes#hasOAIIdentifier" title="Browse http://www.e-editiones.ch/ontology/datatypes#hasOAIIdentifier">has OAI-identifier</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a resource to its OAI-code." xml:lang="en">
               <div class="property-object">Relating a resource to its OAI-code.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Resource" title="Browse http://www.w3.org/2000/01/rdf-schema#Resource">rdfs:Resource</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/datatypes#" title="Browse http://www.e-editiones.ch/ontology/datatypes#">http://www.e-editiones.ch/ ontology/ datatypes#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="hat OAI-Identifikator" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://www.w3.org/2004/02/skos/core#Concept" title="Browse http://www.w3.org/2004/02/skos/core#Concept">skos:Concept</a></div>
            </td>
         </tr>
      </table>
   </div>
</div>