<div xmlns="http://www.w3.org/1999/xhtml" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:owl="http://www.w3.org/2002/07/owl#" xmlns:dct="http://purl.org/dc/terms/" xmlns:xsd="http://www.w3.org/2001/XMLSchema#" class="rdf2html">
   <div id="" class="description">
      <table about="http://e-editiones.ch/ontology/dietrich" typeof="owl:Ontology">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/dietrich" title="Browse http://e-editiones.ch/ontology/dietrich"></a><div xmlns="" class="connector"></div><a class="browse" href="http://www.w3.org/2002/07/owl#Ontology" title="Browse http://www.w3.org/2002/07/owl#Ontology">owl:Ontology</a></th>
         </tr>
         <tr class="http://purl.org/dc/terms/contributor">
            <td style="width: 25%;"><a class="browse" href="http://purl.org/dc/terms/contributor" title="Browse http://purl.org/dc/terms/contributor">dct:contributor</a></td>
            <td property="dct:contributor" content="Reinhard Priber, tool coordinator and software developer, University of Bern, Switzerland" xml:lang="en">
               <div class="property-object">Reinhard Priber, tool coordinator and software developer, University of Bern, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/creator">
            <td style="width: 25%;"><a class="browse" href="http://purl.org/dc/terms/creator" title="Browse http://purl.org/dc/terms/creator">dct:creator</a></td>
            <td property="dct:creator" content="Hans Cools, MD, knowledge engineer, ontologist, software developer, University of Basel, Switzerland" xml:lang="en">
               <div class="property-object">Hans Cools, MD, knowledge engineer, ontologist, software developer, University of
                  Basel, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/description">
            <td style="width: 25%;"><a class="browse" href="http://purl.org/dc/terms/description" title="Browse http://purl.org/dc/terms/description">dct:description</a></td>
            <td property="dct:description" content="Formal description of specific concepts in the scientific study &#34;Das Kloster-Tagebuch des Einsiedler Paters Joseph Dietrich, 1670-1704&#34;." xml:lang="en">
               <div class="property-object">Formal description of specific concepts in the scientific study "Das Kloster-Tagebuch
                  des Einsiedler Paters Joseph Dietrich, 1670-1704".</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/license">
            <td style="width: 25%;"><a class="browse" href="http://purl.org/dc/terms/license" title="Browse http://purl.org/dc/terms/license">dct:license</a></td>
            <td>
               <div class="property-object" rel="dct:license"><a class="browse" href="http://creativecommons.org/licenses/by/3.0/" title="Browse http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/ licenses/ by/ 3.0/ </a></div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/publisher">
            <td style="width: 25%;"><a class="browse" href="http://purl.org/dc/terms/publisher" title="Browse http://purl.org/dc/terms/publisher">dct:publisher</a></td>
            <td property="dct:publisher" content="Universities of Basel, Bern, and Zürich, Switzerland" xml:lang="en">
               <div class="property-object">Universities of Basel, Bern, and Zürich, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/title">
            <td style="width: 25%;"><a class="browse" href="http://purl.org/dc/terms/title" title="Browse http://purl.org/dc/terms/title">dct:title</a></td>
            <td property="dct:title" content="An ontology about father Joseph Dietrich's monastery diary" xml:lang="en">
               <div class="property-object">An ontology about father Joseph Dietrich's monastery diary</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2002/07/owl#versionInfo">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2002/07/owl#versionInfo" title="Browse http://www.w3.org/2002/07/owl#versionInfo">owl:versionInfo</a></td>
            <td xmlns:d1e82="http://www.w3.org/2001/XMLSchema#" property="owl:versionInfo" content="2020-06-11" datatype="xsd:date">
               <div class="property-object">2020-06-11</div>
            </td>
         </tr>
      </table>
   </div>
   <h2>Classes</h2>
   <div id="DiaryEntry" class="description">
      <table about="http://e-editiones.ch/ontology/dietrich#DiaryEntry" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/dietrich#DiaryEntry" title="Browse http://e-editiones.ch/ontology/dietrich#DiaryEntry">dietrich:DiaryEntry</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Diary entry authored by father Joseph Dietrich." xml:lang="en">
               <div class="property-object">Diary entry authored by father Joseph Dietrich.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/dietrich#" title="Browse http://e-editiones.ch/ontology/dietrich#">dietrich:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="diary entry by father Joseph Dietrich" xml:lang="en">
               <div class="property-object">diary entry by father Joseph Dietrich
                  													(en)
                  												</div>
               <div class="connector"></div><span property="rdfs:label" content="Tagebucheintrag des Paters Joseph Dietrich" xml:lang="de"></span><div class="property-object">Tagebucheintrag des Paters Joseph Dietrich
                  													
                  													(de)
                  												</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://e-editiones.ch/ontology/text-expression#DiaryEntry" title="Browse http://e-editiones.ch/ontology/text-expression#DiaryEntry">text-expression:DiaryEntry</a></div>
               <div class="connector"></div>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://e-editiones.ch/ontology/text#HandwrittenText" title="Browse http://e-editiones.ch/ontology/text#HandwrittenText">text:HandwrittenText</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div id="DiaryVolume" class="description">
      <table about="http://e-editiones.ch/ontology/dietrich#DiaryVolume" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/dietrich#DiaryVolume" title="Browse http://e-editiones.ch/ontology/dietrich#DiaryVolume">dietrich:DiaryVolume</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Diary volume written and authored by father Joseph Dietrich." xml:lang="en">
               <div class="property-object">Diary volume written and authored by father Joseph Dietrich.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/dietrich#" title="Browse http://e-editiones.ch/ontology/dietrich#">dietrich:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Tagebuch-Band des Paters Joseph Dietrich" xml:lang="de">
               <div class="property-object">Tagebuch-Band des Paters Joseph Dietrich
                  													(de)
                  												</div>
               <div class="connector"></div><span property="rdfs:label" content="diary volume by father Joseph Dietrich" xml:lang="en"></span><div class="property-object">diary volume by father Joseph Dietrich
                  													
                  													(en)
                  												</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://e-editiones.ch/ontology/information-carrier#Manuscript" title="Browse http://e-editiones.ch/ontology/information-carrier#Manuscript">information-carrier:Manuscript</a></div>
               <div class="connector"></div>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://e-editiones.ch/ontology/information-carrier#Volume" title="Browse http://e-editiones.ch/ontology/information-carrier#Volume">information-carrier:Volume</a></div>
               <div class="connector"></div>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://e-editiones.ch/ontology/information-carrier#Diary" title="Browse http://e-editiones.ch/ontology/information-carrier#Diary">information-carrier:Diary</a></div>
            </td>
         </tr>
      </table>
   </div>
   <h2>Properties</h2>
   <div id="hasExternalResource" class="description">
      <table about="http://e-editiones.ch/ontology/dietrich#hasExternalResource" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/dietrich#hasExternalResource" title="Browse http://e-editiones.ch/ontology/dietrich#hasExternalResource">dietrich:hasExternalResource</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a Dietrich-project resource to an external, i.e. non-Dietrich-project resource." xml:lang="en">
               <div class="property-object">Relating a Dietrich-project resource to an external, i.e. non-Dietrich-project resource.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Resource" title="Browse http://www.w3.org/2000/01/rdf-schema#Resource">rdfs:Resource</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/dietrich#" title="Browse http://e-editiones.ch/ontology/dietrich#">dietrich:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="hat externe Ressource" xml:lang="de">
               <div class="property-object">hat externe Ressource
                  													(de)
                  												</div>
               <div class="connector"></div><span property="rdfs:label" content="has external resource" xml:lang="en"></span><div class="property-object">has external resource
                  													
                  													(en)
                  												</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Resource" title="Browse http://www.w3.org/2000/01/rdf-schema#Resource">rdfs:Resource</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div id="personHasEinsiedlerAbbot" class="description">
      <table about="http://e-editiones.ch/ontology/dietrich#personHasEinsiedlerAbbot" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/dietrich#personHasEinsiedlerAbbot" title="Browse http://e-editiones.ch/ontology/dietrich#personHasEinsiedlerAbbot">dietrich:personHasEinsiedlerAbbot</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a catholic order person to the person being the abbot of the monastery of Einsiedeln." xml:lang="en">
               <div class="property-object">Relating a catholic order person to the person being the abbot of the monastery of
                  Einsiedeln.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://e-editiones.ch/ontology/catholic-order#Person" title="Browse http://e-editiones.ch/ontology/catholic-order#Person">catholic-order:Person</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/dietrich#" title="Browse http://e-editiones.ch/ontology/dietrich#">dietrich:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="person has Einsiedler abbot" xml:lang="en">
               <div class="property-object">person has Einsiedler abbot
                  													(en)
                  												</div>
               <div class="connector"></div><span property="rdfs:label" content="Person hat Einsiedler-Abt" xml:lang="de"></span><div class="property-object">Person hat Einsiedler-Abt
                  													
                  													(de)
                  												</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://e-editiones.ch/ontology/catholic-order#Person" title="Browse http://e-editiones.ch/ontology/catholic-order#Person">catholic-order:Person</a></div>
               <div class="connector"></div>
               <div class="property-object" rel="rdfs:range">
                  <table typeof="owl:Restriction">
                     <tr>
                        <th colspan="2"><a class="browse" href="http://www.w3.org/2002/07/owl#Restriction" title="Browse http://www.w3.org/2002/07/owl#Restriction">owl:Restriction</a></th>
                     </tr>
                     <tr class="http://www.w3.org/2002/07/owl#onProperty">
                        <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2002/07/owl#onProperty" title="Browse http://www.w3.org/2002/07/owl#onProperty">owl:onProperty</a></td>
                        <td>
                           <div class="property-object" rel="owl:onProperty"><a class="browse" href="http://e-editiones.ch/ontology/human#personHasRole" title="Browse http://e-editiones.ch/ontology/human#personHasRole">human:personHasRole</a></div>
                        </td>
                     </tr>
                     <tr class="http://www.w3.org/2002/07/owl#someValuesFrom">
                        <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2002/07/owl#someValuesFrom" title="Browse http://www.w3.org/2002/07/owl#someValuesFrom">owl:someValuesFrom</a></td>
                        <td>
                           <div class="property-object" rel="owl:someValuesFrom"><a class="browse" href="http://e-editiones.ch/ontology/catholic-order#Abbot" title="Browse http://e-editiones.ch/ontology/catholic-order#Abbot">catholic-order:Abbot</a></div>
                        </td>
                     </tr>
                  </table>
               </div>
            </td>
         </tr>
      </table>
   </div>
   <div id="personHasEinsiedlerProfessIdentifier" class="description">
      <table about="http://e-editiones.ch/ontology/dietrich#personHasEinsiedlerProfessIdentifier" typeof="owl:DatatypeProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/dietrich#personHasEinsiedlerProfessIdentifier" title="Browse http://e-editiones.ch/ontology/dietrich#personHasEinsiedlerProfessIdentifier">dietrich:personHasEinsiedlerProfessIdentifier</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#DatatypeProperty" title="Browse http://www.w3.org/2002/07/owl#DatatypeProperty">owl:DatatypeProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a catholic order person to an identifier for being professed into the order of the monastery of Einsiedeln." xml:lang="en">
               <div class="property-object">Relating a catholic order person to an identifier for being professed into the order
                  of the monastery of Einsiedeln.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://e-editiones.ch/ontology/catholic-order#Person" title="Browse http://e-editiones.ch/ontology/catholic-order#Person">catholic-order:Person</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/dietrich#" title="Browse http://e-editiones.ch/ontology/dietrich#">dietrich:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Person hat Einsiedler-Eintrittidentifikator" xml:lang="de">
               <div class="property-object">Person hat Einsiedler-Eintrittidentifikator
                  													(de)
                  												</div>
               <div class="connector"></div><span property="rdfs:label" content="person has Einsiedler profess identifier" xml:lang="en"></span><div class="property-object">person has Einsiedler profess identifier
                  													
                  													(en)
                  												</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Literal" title="Browse http://www.w3.org/2000/01/rdf-schema#Literal">rdfs:Literal</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div id="personHasNonEinsiedler-StGaller-PfaeferserProfessIdentifier" class="description">
      <table about="http://e-editiones.ch/ontology/dietrich#personHasNonEinsiedler-StGaller-PfaeferserProfessIdentifier" typeof="owl:DatatypeProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/dietrich#personHasNonEinsiedler-StGaller-PfaeferserProfessIdentifier" title="Browse http://e-editiones.ch/ontology/dietrich#personHasNonEinsiedler-StGaller-PfaeferserProfessIdentifier">dietrich:personHasNonEinsiedler-StGaller-PfaeferserProfessIdentifier</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#DatatypeProperty" title="Browse http://www.w3.org/2002/07/owl#DatatypeProperty">owl:DatatypeProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a catholic order person to an identifier for being professed into the order of the monastery other than the one of Einsiedeln, St. Gallen, and Pfäfers." xml:lang="en">
               <div class="property-object">Relating a catholic order person to an identifier for being professed into the order
                  of the monastery other than the one of Einsiedeln, St. Gallen, and Pfäfers.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://e-editiones.ch/ontology/catholic-order#Person" title="Browse http://e-editiones.ch/ontology/catholic-order#Person">catholic-order:Person</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/dietrich#" title="Browse http://e-editiones.ch/ontology/dietrich#">dietrich:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Person hat non-Einsiedler-StGaller-Pfaeferser-Eintrittidentifikator" xml:lang="de">
               <div class="property-object">Person hat non-Einsiedler-StGaller-Pfaeferser-Eintrittidentifikator
                  													(de)
                  												</div>
               <div class="connector"></div><span property="rdfs:label" content="person has non-Einsiedler-StGaller-Pfaeferser profess identifier" xml:lang="en"></span><div class="property-object">person has non-Einsiedler-StGaller-Pfaeferser profess identifier
                  													
                  													(en)
                  												</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Literal" title="Browse http://www.w3.org/2000/01/rdf-schema#Literal">rdfs:Literal</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div id="personHasPfaeferserProfessIdentifier" class="description">
      <table about="http://e-editiones.ch/ontology/dietrich#personHasPfaeferserProfessIdentifier" typeof="owl:DatatypeProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/dietrich#personHasPfaeferserProfessIdentifier" title="Browse http://e-editiones.ch/ontology/dietrich#personHasPfaeferserProfessIdentifier">dietrich:personHasPfaeferserProfessIdentifier</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#DatatypeProperty" title="Browse http://www.w3.org/2002/07/owl#DatatypeProperty">owl:DatatypeProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a catholic order person to an identifier for being professed into the order of the monastery of Pfäfers." xml:lang="en">
               <div class="property-object">Relating a catholic order person to an identifier for being professed into the order
                  of the monastery of Pfäfers.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://e-editiones.ch/ontology/catholic-order#Person" title="Browse http://e-editiones.ch/ontology/catholic-order#Person">catholic-order:Person</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/dietrich#" title="Browse http://e-editiones.ch/ontology/dietrich#">dietrich:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Person hat St. Pfäferser-Eintrittidentifikator" xml:lang="de">
               <div class="property-object">Person hat St. Pfäferser-Eintrittidentifikator
                  													(de)
                  												</div>
               <div class="connector"></div><span property="rdfs:label" content="person has Pfäferser profess identifier" xml:lang="en"></span><div class="property-object">person has Pfäferser profess identifier
                  													
                  													(en)
                  												</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Literal" title="Browse http://www.w3.org/2000/01/rdf-schema#Literal">rdfs:Literal</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div id="personHasStGallerProfessIdentifier" class="description">
      <table about="http://e-editiones.ch/ontology/dietrich#personHasStGallerProfessIdentifier" typeof="owl:DatatypeProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/dietrich#personHasStGallerProfessIdentifier" title="Browse http://e-editiones.ch/ontology/dietrich#personHasStGallerProfessIdentifier">dietrich:personHasStGallerProfessIdentifier</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#DatatypeProperty" title="Browse http://www.w3.org/2002/07/owl#DatatypeProperty">owl:DatatypeProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a catholic order person to an identifier for being professed into the order of the monastery of St. Gallen." xml:lang="en">
               <div class="property-object">Relating a catholic order person to an identifier for being professed into the order
                  of the monastery of St. Gallen.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://e-editiones.ch/ontology/catholic-order#Person" title="Browse http://e-editiones.ch/ontology/catholic-order#Person">catholic-order:Person</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/dietrich#" title="Browse http://e-editiones.ch/ontology/dietrich#">dietrich:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Person hat St. Galler-Eintrittidentifikator" xml:lang="de">
               <div class="property-object">Person hat St. Galler-Eintrittidentifikator
                  													(de)
                  												</div>
               <div class="connector"></div><span property="rdfs:label" content="person has St. Galler profess identifier" xml:lang="en"></span><div class="property-object">person has St. Galler profess identifier
                  													
                  													(en)
                  												</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Literal" title="Browse http://www.w3.org/2000/01/rdf-schema#Literal">rdfs:Literal</a></div>
            </td>
         </tr>
      </table>
   </div>
</div>