<div xmlns="http://www.w3.org/1999/xhtml" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" class="rdf2html">
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/dietrich" typeof="owl:Ontology">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/dietrich" title="Browse http://www.e-editiones.ch/ontology/dietrich">http://www.e-editiones.ch/ ontology/ dietrich</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#Ontology" title="Browse http://www.w3.org/2002/07/owl#Ontology">owl:Ontology</a></th>
         </tr>
         <tr class="http://purl.org/dc/terms/contributor">
            <td><a class="browse" href="http://purl.org/dc/terms/contributor" title="Browse http://purl.org/dc/terms/contributor">dct:contributor</a></td>
            <td property="dct:contributor" content="Reinhard Priber, tool coordinator and software developer, University of Bern, Switzerland" xml:lang="en">
               <div class="property-object">Reinhard Priber, tool coordinator and software developer, University of Bern, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/creator">
            <td><a class="browse" href="http://purl.org/dc/terms/creator" title="Browse http://purl.org/dc/terms/creator">dct:creator</a></td>
            <td property="dct:creator" content="Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University, Switzerland" xml:lang="en">
               <div class="property-object">Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University,
                  Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/description">
            <td><a class="browse" href="http://purl.org/dc/terms/description" title="Browse http://purl.org/dc/terms/description">dct:description</a></td>
            <td property="dct:description" content="Formal description of specific concepts in the scientific study &#34;Das Kloster-Tagebuch des Einsiedler Paters Joseph Dietrich, 1670-1704&#34;." xml:lang="en">
               <div class="property-object">Formal description of specific concepts in the scientific study "Das Kloster-Tagebuch
                  des Einsiedler Paters Joseph Dietrich, 1670-1704".</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/license">
            <td><a class="browse" href="http://purl.org/dc/terms/license" title="Browse http://purl.org/dc/terms/license">dct:license</a></td>
            <td>
               <div class="property-object" rel="dct:license"><a class="browse" href="http://creativecommons.org/licenses/by/3.0/" title="Browse http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/ licenses/ by/ 3.0/ </a></div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/publisher">
            <td><a class="browse" href="http://purl.org/dc/terms/publisher" title="Browse http://purl.org/dc/terms/publisher">dct:publisher</a></td>
            <td property="dct:publisher" content="Universities of Basel, Bern, and Zürich, Switzerland" xml:lang="en">
               <div class="property-object">Universities of Basel, Bern, and Zürich, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/title">
            <td><a class="browse" href="http://purl.org/dc/terms/title" title="Browse http://purl.org/dc/terms/title">dct:title</a></td>
            <td property="dct:title" content="An ontology about father Joseph Dietrich's monastery diary" xml:lang="en">
               <div class="property-object">An ontology about father Joseph Dietrich's monastery diary</div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/dietrich#DiaryEntry" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/dietrich#DiaryEntry" title="Browse http://www.e-editiones.ch/ontology/dietrich#DiaryEntry">diary entry by father Joseph Dietrich</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Diary entry authored by father Joseph Dietrich." xml:lang="en">
               <div class="property-object">Diary entry authored by father Joseph Dietrich.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/dietrich#" title="Browse http://www.e-editiones.ch/ontology/dietrich#">http://www.e-editiones.ch/ ontology/ dietrich#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Tagebucheintrag des Paters Joseph Dietrich" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/text#HandwrittenText" title="Browse http://www.e-editiones.ch/ontology/text#HandwrittenText">http://www.e-editiones.ch/ ontology/ text#HandwrittenText</a></div>
               <div class="connector">and</div>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/text-expression#DiaryEntry" title="Browse http://www.e-editiones.ch/ontology/text-expression#DiaryEntry">http://www.e-editiones.ch/ ontology/ text-expression#DiaryEntry</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/dietrich#DiaryVolume" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/dietrich#DiaryVolume" title="Browse http://www.e-editiones.ch/ontology/dietrich#DiaryVolume">diary volume by father Joseph Dietrich</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Diary volume written and authored by father Joseph Dietrich." xml:lang="en">
               <div class="property-object">Diary volume written and authored by father Joseph Dietrich.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/dietrich#" title="Browse http://www.e-editiones.ch/ontology/dietrich#">http://www.e-editiones.ch/ ontology/ dietrich#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="diary volume by father Joseph Dietrich" xml:lang="en">
               <div class="property-object">diary volume by father Joseph Dietrich</div>
               <div class="connector">and</div><span property="rdfs:label" content="Tagebuch-Band des Paters Joseph Dietrich" xml:lang="de"></span><div class="property-object">Tagebuch-Band des Paters Joseph Dietrich</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Tagebuch-Band des Paters Joseph Dietrich" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/information-carrier#Volume" title="Browse http://www.e-editiones.ch/ontology/information-carrier#Volume">http://www.e-editiones.ch/ ontology/ information-carrier#Volume</a></div>
               <div class="connector">,</div>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/information-carrier#Manuscript" title="Browse http://www.e-editiones.ch/ontology/information-carrier#Manuscript">http://www.e-editiones.ch/ ontology/ information-carrier#Manuscript</a></div>
               <div class="connector">and</div>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/information-carrier#Diary" title="Browse http://www.e-editiones.ch/ontology/information-carrier#Diary">http://www.e-editiones.ch/ ontology/ information-carrier#Diary</a></div>
            </td>
         </tr>
      </table>
   </div>
</div>