<div xmlns="http://www.w3.org/1999/xhtml" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:owl="http://www.w3.org/2002/07/owl#" xmlns:indo="http://e-editiones.ch/ontology/indology#" xmlns:skos="http://www.w3.org/2004/02/skos/core#" xmlns:dct="http://purl.org/dc/terms/" xmlns:xsd="http://www.w3.org/2001/XMLSchema#" class="rdf2html">
   <div id="" class="description">
      <table about="http://e-editiones.ch/ontology/indology" typeof="owl:Ontology">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/indology" title="Browse http://e-editiones.ch/ontology/indology">indology:</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#Ontology" title="Browse http://www.w3.org/2002/07/owl#Ontology">owl:Ontology</a></th>
         </tr>
         <tr class="http://purl.org/dc/terms/contributor">
            <td><a class="browse" href="http://purl.org/dc/terms/contributor" title="Browse http://purl.org/dc/terms/contributor">dct:contributor</a></td>
            <td property="dct:contributor" content="Magdalena Plamada, PhD, Zürich University, Switzerland" xml:lang="en">
               <div class="property-object">Magdalena Plamada, PhD, Zürich University, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/creator">
            <td><a class="browse" href="http://purl.org/dc/terms/creator" title="Browse http://purl.org/dc/terms/creator">dct:creator</a></td>
            <td property="dct:creator" content="Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University, Switzerland" xml:lang="en">
               <div class="property-object">Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University,
                  Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/description">
            <td><a class="browse" href="http://purl.org/dc/terms/description" title="Browse http://purl.org/dc/terms/description">dct:description</a></td>
            <td property="dct:description" content="Formal description of Indology, general subclasses, related classes, and properties." xml:lang="en">
               <div class="property-object">Formal description of Indology, general subclasses, related classes, and properties.</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/license">
            <td><a class="browse" href="http://purl.org/dc/terms/license" title="Browse http://purl.org/dc/terms/license">dct:license</a></td>
            <td>
               <div class="property-object" rel="dct:license"><a class="browse" href="http://creativecommons.org/licenses/by/3.0/" title="Browse http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/ licenses/ by/ 3.0/ </a></div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/publisher">
            <td><a class="browse" href="http://purl.org/dc/terms/publisher" title="Browse http://purl.org/dc/terms/publisher">dct:publisher</a></td>
            <td property="dct:publisher" content="Universities of Basel, Bern, and Zürich, Switzerland" xml:lang="en">
               <div class="property-object">Universities of Basel, Bern, and Zürich, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/title">
            <td><a class="browse" href="http://purl.org/dc/terms/title" title="Browse http://purl.org/dc/terms/title">dct:title</a></td>
            <td property="dct:title" content="An ontology about Indology" xml:lang="en">
               <div class="property-object">An ontology about Indology</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2002/07/owl#versionInfo">
            <td><a class="browse" href="http://www.w3.org/2002/07/owl#versionInfo" title="Browse http://www.w3.org/2002/07/owl#versionInfo">owl:versionInfo</a></td>
            <td xmlns:d1e40="http://www.w3.org/2001/XMLSchema#" property="owl:versionInfo" content="2020-06-11" datatype="xsd:date">
               <div class="property-object">2020-06-11</div>
            </td>
         </tr>
      </table>
   </div>
   <h2>Classes</h2>
   <div id="Expression" class="description">
      <table about="http://e-editiones.ch/ontology/indology#Expression" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/indology#Expression" title="Browse http://e-editiones.ch/ontology/indology#Expression">indology:Expression</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Literary expression created in Indian culture." xml:lang="en">
               <div class="property-object">Literary expression created in Indian culture.</div>
               <div class="connector">and</div><span property="rdfs:comment" content="Literarische Expression in indischer Kultur kreiert." xml:lang="de"></span><div class="property-object">Literarische Expression in indischer Kultur kreiert.
                  													
                  													(de)
                  												</div>
            </td>
         </tr>
         <div property="rdfs:comment" content="Literarische Expression in indischer Kultur kreiert." xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/indology#" title="Browse http://e-editiones.ch/ontology/indology#">indology:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Indian literary expression" xml:lang="en">
               <div class="property-object">Indian literary expression
                  													(en)
                  												</div>
               <div class="connector">and</div><span property="rdfs:label" content="indische literarische Expression" xml:lang="de"></span><div class="property-object">indische literarische Expression
                  													
                  													(de)
                  												</div>
            </td>
         </tr>
         <div property="rdfs:label" content="indische literarische Expression" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://e-editiones.ch/ontology/literature#Expression" title="Browse http://e-editiones.ch/ontology/literature#Expression">literature:Expression</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div id="Literature" class="description">
      <table about="http://e-editiones.ch/ontology/indology#Literature" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/indology#Literature" title="Browse http://e-editiones.ch/ontology/indology#Literature">indology:Literature</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Literature in Indian culture." xml:lang="en">
               <div class="property-object">Literature in Indian culture.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/indology#" title="Browse http://e-editiones.ch/ontology/indology#">indology:</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="indische Literatur" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://e-editiones.ch/ontology/literature#Literature" title="Browse http://e-editiones.ch/ontology/literature#Literature">literature:Literature</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div id="Patha" class="description">
      <table about="http://e-editiones.ch/ontology/indology#Patha" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/indology#Patha" title="Browse http://e-editiones.ch/ontology/indology#Patha">indology:Patha</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Style to recite or chant a Vedic mantra in the oral tradition of the Vedas, enabling its memorization." xml:lang="en">
               <div class="property-object">Style to recite or chant a Vedic mantra in the oral tradition of the Vedas, enabling
                  its memorization.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/indology#" title="Browse http://e-editiones.ch/ontology/indology#">indology:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="patha" xml:lang="en">
               <div class="property-object">patha
                  													(en)
                  												</div>
               <div class="connector">,</div><span property="rdfs:label" content="pāṭha" xml:lang="sa"></span><div class="property-object">pāṭha
                  													
                  													(sa)
                  												</div>
               <div class="connector">and</div><span property="rdfs:label" content="Patha" xml:lang="de"></span><div class="property-object">Patha
                  													
                  													(de)
                  												</div>
            </td>
         </tr>
         <div property="rdfs:label" content="pāṭha" xml:lang="sa"></div>
         <div property="rdfs:label" content="Patha" xml:lang="de"></div>
         <tr class="http://www.w3.org/2004/02/skos/core#note">
            <td><a class="browse" href="http://www.w3.org/2004/02/skos/core#note" title="Browse http://www.w3.org/2004/02/skos/core#note">skos:note</a></td>
            <td property="skos:note" content="There are eleven Pathas, with increasing difficulty, divided in 3 simpler or natural, and 8 complex ones." xml:lang="en">
               <div class="property-object">There are eleven Pathas, with increasing difficulty, divided in 3 simpler or natural,
                  and 8 complex ones.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2002/07/owl#oneOf">
            <td><a class="browse" href="http://www.w3.org/2002/07/owl#oneOf" title="Browse http://www.w3.org/2002/07/owl#oneOf">owl:oneOf</a></td>
            <td>
               <div class="property-object" rel="owl:oneOf">
                  <div xmlns="" class="property-object" typeof="rdf:List">
                     <div class="property-object" rel="rdf:first"><a xmlns="http://www.w3.org/1999/xhtml" class="browse" href="http://e-editiones.ch/ontology/indology#Samhitapatha" title="Browse http://e-editiones.ch/ontology/indology#Samhitapatha">indology:Samhitapatha</a></div>
                     <div class="property-object" rel="rdf:rest">
                        <div xmlns="http://www.w3.org/1999/xhtml" class="connector">,</div>
                        <div class="property-object" typeof="rdf:List">
                           <div class="property-object" rel="rdf:first"><a xmlns="http://www.w3.org/1999/xhtml" class="browse" href="http://e-editiones.ch/ontology/indology#Padapatha" title="Browse http://e-editiones.ch/ontology/indology#Padapatha">indology:Padapatha</a></div>
                           <div class="property-object" rel="rdf:rest">
                              <div xmlns="http://www.w3.org/1999/xhtml" class="connector">,</div>
                              <div class="property-object" typeof="rdf:List">
                                 <div class="property-object" rel="rdf:first"><a xmlns="http://www.w3.org/1999/xhtml" class="browse" href="http://e-editiones.ch/ontology/indology#Kramapatha" title="Browse http://e-editiones.ch/ontology/indology#Kramapatha">indology:Kramapatha</a></div>
                                 <div class="property-object" rel="rdf:rest">
                                    <div xmlns="http://www.w3.org/1999/xhtml" class="connector">,</div>
                                    <div class="property-object" typeof="rdf:List">
                                       <div class="property-object" rel="rdf:first"><a xmlns="http://www.w3.org/1999/xhtml" class="browse" href="http://e-editiones.ch/ontology/indology#Jatapatha" title="Browse http://e-editiones.ch/ontology/indology#Jatapatha">indology:Jatapatha</a></div>
                                       <div class="property-object" rel="rdf:rest">
                                          <div xmlns="http://www.w3.org/1999/xhtml" class="connector">,</div>
                                          <div class="property-object" typeof="rdf:List">
                                             <div class="property-object" rel="rdf:first"><a xmlns="http://www.w3.org/1999/xhtml" class="browse" href="http://e-editiones.ch/ontology/indology#Maalaapatha" title="Browse http://e-editiones.ch/ontology/indology#Maalaapatha">indology:Maalaapatha</a></div>
                                             <div class="property-object" rel="rdf:rest">
                                                <div xmlns="http://www.w3.org/1999/xhtml" class="connector">,</div>
                                                <div class="property-object" typeof="rdf:List">
                                                   <div class="property-object" rel="rdf:first"><a xmlns="http://www.w3.org/1999/xhtml" class="browse" href="http://e-editiones.ch/ontology/indology#Sikhapatha" title="Browse http://e-editiones.ch/ontology/indology#Sikhapatha">indology:Sikhapatha</a></div>
                                                   <div class="property-object" rel="rdf:rest">
                                                      <div xmlns="http://www.w3.org/1999/xhtml" class="connector">,</div>
                                                      <div class="property-object" typeof="rdf:List">
                                                         <div class="property-object" rel="rdf:first"><a xmlns="http://www.w3.org/1999/xhtml" class="browse" href="http://e-editiones.ch/ontology/indology#Rekhapatha" title="Browse http://e-editiones.ch/ontology/indology#Rekhapatha">indology:Rekhapatha</a></div>
                                                         <div class="property-object" rel="rdf:rest">
                                                            <div xmlns="http://www.w3.org/1999/xhtml" class="connector">,</div>
                                                            <div class="property-object" typeof="rdf:List">
                                                               <div class="property-object" rel="rdf:first"><a xmlns="http://www.w3.org/1999/xhtml" class="browse" href="http://e-editiones.ch/ontology/indology#Dhwajapatha" title="Browse http://e-editiones.ch/ontology/indology#Dhwajapatha">indology:Dhwajapatha</a></div>
                                                               <div class="property-object" rel="rdf:rest">
                                                                  <div xmlns="http://www.w3.org/1999/xhtml" class="connector">,</div>
                                                                  <div class="property-object" typeof="rdf:List">
                                                                     <div class="property-object" rel="rdf:first"><a xmlns="http://www.w3.org/1999/xhtml" class="browse" href="http://e-editiones.ch/ontology/indology#Dandapatha" title="Browse http://e-editiones.ch/ontology/indology#Dandapatha">indology:Dandapatha</a></div>
                                                                     <div class="property-object" rel="rdf:rest">
                                                                        <div xmlns="http://www.w3.org/1999/xhtml" class="connector">,</div>
                                                                        <div class="property-object" typeof="rdf:List">
                                                                           <div class="property-object" rel="rdf:first"><a xmlns="http://www.w3.org/1999/xhtml" class="browse" href="http://e-editiones.ch/ontology/indology#Rathaapatha" title="Browse http://e-editiones.ch/ontology/indology#Rathaapatha">indology:Rathaapatha</a></div>
                                                                           <div class="property-object" rel="rdf:rest">
                                                                              <div xmlns="http://www.w3.org/1999/xhtml" class="connector">and</div>
                                                                              <div class="property-object" typeof="rdf:List">
                                                                                 <div class="property-object" rel="rdf:first"><a xmlns="http://www.w3.org/1999/xhtml" class="browse" href="http://e-editiones.ch/ontology/indology#Ghanapatha" title="Browse http://e-editiones.ch/ontology/indology#Ghanapatha">indology:Ghanapatha</a></div>
                                                                                 <div class="property-object" rel="rdf:rest" resource="[rdf:nil]"></div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Resource" title="Browse http://www.w3.org/2000/01/rdf-schema#Resource">rdfs:Resource</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div id="Veda" class="description">
      <table about="http://e-editiones.ch/ontology/indology#Veda" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/indology#Veda" title="Browse http://e-editiones.ch/ontology/indology#Veda">indology:Veda</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Hindu text written in Vedic Sanskrit, in a period dated roughly from 1700 to 400 BC." xml:lang="en">
               <div class="property-object">Hindu text written in Vedic Sanskrit, in a period dated roughly from 1700 to 400 BC.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/indology#" title="Browse http://e-editiones.ch/ontology/indology#">indology:</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Veda" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://e-editiones.ch/ontology/indology#Expression" title="Browse http://e-editiones.ch/ontology/indology#Expression">indology:Expression</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div id="VedaLiterature" class="description">
      <table about="http://e-editiones.ch/ontology/indology#VedaLiterature" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/indology#VedaLiterature" title="Browse http://e-editiones.ch/ontology/indology#VedaLiterature">indology:VedaLiterature</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Indian literature in a Veda." xml:lang="en">
               <div class="property-object">Indian literature in a Veda.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/indology#" title="Browse http://e-editiones.ch/ontology/indology#">indology:</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="vedische indische Literatur" xml:lang="de"></div>
         <tr class="http://www.w3.org/2002/07/owl#oneOf">
            <td><a class="browse" href="http://www.w3.org/2002/07/owl#oneOf" title="Browse http://www.w3.org/2002/07/owl#oneOf">owl:oneOf</a></td>
            <td>
               <div class="property-object" rel="owl:oneOf">
                  <div xmlns="" class="property-object" typeof="rdf:List">
                     <div class="property-object" rel="rdf:first"><a xmlns="http://www.w3.org/1999/xhtml" class="browse" href="http://e-editiones.ch/ontology/indology#Samhita" title="Browse http://e-editiones.ch/ontology/indology#Samhita">indology:Samhita</a></div>
                     <div class="property-object" rel="rdf:rest">
                        <div xmlns="http://www.w3.org/1999/xhtml" class="connector">,</div>
                        <div class="property-object" typeof="rdf:List">
                           <div class="property-object" rel="rdf:first"><a xmlns="http://www.w3.org/1999/xhtml" class="browse" href="http://e-editiones.ch/ontology/indology#Aranyaka" title="Browse http://e-editiones.ch/ontology/indology#Aranyaka">indology:Aranyaka</a></div>
                           <div class="property-object" rel="rdf:rest">
                              <div xmlns="http://www.w3.org/1999/xhtml" class="connector">,</div>
                              <div class="property-object" typeof="rdf:List">
                                 <div class="property-object" rel="rdf:first"><a xmlns="http://www.w3.org/1999/xhtml" class="browse" href="http://e-editiones.ch/ontology/indology#Brahmana" title="Browse http://e-editiones.ch/ontology/indology#Brahmana">indology:Brahmana</a></div>
                                 <div class="property-object" rel="rdf:rest">
                                    <div xmlns="http://www.w3.org/1999/xhtml" class="connector">and</div>
                                    <div class="property-object" typeof="rdf:List">
                                       <div class="property-object" rel="rdf:first"><a xmlns="http://www.w3.org/1999/xhtml" class="browse" href="http://e-editiones.ch/ontology/indology#Upanishad" title="Browse http://e-editiones.ch/ontology/indology#Upanishad">indology:Upanishad</a></div>
                                       <div class="property-object" rel="rdf:rest" resource="[rdf:nil]"></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://e-editiones.ch/ontology/indology#Literature" title="Browse http://e-editiones.ch/ontology/indology#Literature">indology:Literature</a></div>
            </td>
         </tr>
      </table>
   </div>
   <h2>Instances</h2>
   <div id="Padapatha" class="description">
      <table about="http://e-editiones.ch/ontology/indology#Padapatha" typeof="indo:Patha">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/indology#Padapatha" title="Browse http://e-editiones.ch/ontology/indology#Padapatha">indology:Padapatha</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://e-editiones.ch/ontology/indology#Patha" title="Browse http://e-editiones.ch/ontology/indology#Patha">indology:Patha</a>, 
               <div rel="rdf:type" class="connector"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></div>
            </th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="One of the eleven Pathas, with a word by word recitation, marked by a conscious pause after every word, and after any special grammatical code embedded in the text; suppresses euphonic combination and restores each word in its original intended form." xml:lang="en">
               <div class="property-object">One of the eleven Pathas, with a word by word recitation, marked by a conscious pause
                  after every word, and after any special grammatical code embedded in the text; suppresses
                  euphonic combination and restores each word in its original intended form.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/indology#" title="Browse http://e-editiones.ch/ontology/indology#">indology:</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Padapatha" xml:lang="de"></div>
         <div property="rdfs:label" content="Pada-pāṭha" xml:lang="sa"></div>
      </table>
   </div>
   <div id="Samhita" class="description">
      <table about="http://e-editiones.ch/ontology/indology#Samhita" typeof="indo:VedaLiterature">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/indology#Samhita" title="Browse http://e-editiones.ch/ontology/indology#Samhita">indology:Samhita</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://e-editiones.ch/ontology/indology#VedaLiterature" title="Browse http://e-editiones.ch/ontology/indology#VedaLiterature">indology:VedaLiterature</a>, 
               <div rel="rdf:type" class="connector"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></div>
            </th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="One of the four text styles, and the oldest part, in a Veda, wherein text or verses are methodically put together." xml:lang="en">
               <div class="property-object">One of the four text styles, and the oldest part, in a Veda, wherein text or verses
                  are methodically put together.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/indology#" title="Browse http://e-editiones.ch/ontology/indology#">indology:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Samhita" xml:lang="en">
               <div class="property-object">Samhita
                  													(en)
                  												</div>
               <div class="connector">,</div><span property="rdfs:label" content="Samhita" xml:lang="de"></span><div class="property-object">Samhita
                  													
                  													(de)
                  												</div>
               <div class="connector">and</div><span property="rdfs:label" content="Samhita" xml:lang="sa"></span><div class="property-object">Samhita
                  													
                  													(sa)
                  												</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Samhita" xml:lang="de"></div>
         <div property="rdfs:label" content="Samhita" xml:lang="sa"></div>
      </table>
   </div>
   <div id="Samhitapatha" class="description">
      <table about="http://e-editiones.ch/ontology/indology#Samhitapatha" typeof="indo:Patha">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/indology#Samhitapatha" title="Browse http://e-editiones.ch/ontology/indology#Samhitapatha">indology:Samhitapatha</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://e-editiones.ch/ontology/indology#Patha" title="Browse http://e-editiones.ch/ontology/indology#Patha">indology:Patha</a>, 
               <div rel="rdf:type" class="connector"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></div>
            </th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="One of the eleven Pathas, with continuous recitation of Sanskrit words bound by the phonetic rules of euphonic combination." xml:lang="en">
               <div class="property-object">One of the eleven Pathas, with continuous recitation of Sanskrit words bound by the
                  phonetic rules of euphonic combination.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/indology#" title="Browse http://e-editiones.ch/ontology/indology#">indology:</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Samhitapatha" xml:lang="de"></div>
         <div property="rdfs:label" content="Samhita-pāṭha" xml:lang="sa"></div>
      </table>
   </div>
   <h2>Properties</h2>
   <div id="hasIndologicCommentLiteral" class="description">
      <table about="http://e-editiones.ch/ontology/indology#hasIndologicCommentLiteral" typeof="owl:DatatypeProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/indology#hasIndologicCommentLiteral" title="Browse http://e-editiones.ch/ontology/indology#hasIndologicCommentLiteral">indology:hasIndologicCommentLiteral</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#DatatypeProperty" title="Browse http://www.w3.org/2002/07/owl#DatatypeProperty">owl:DatatypeProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating something to the literal of an Indological comment as a textual statement about that something." xml:lang="en">
               <div class="property-object">Relating something to the literal of an Indological comment as a textual statement
                  about that something.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Resource" title="Browse http://www.w3.org/2000/01/rdf-schema#Resource">rdfs:Resource</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/indology#" title="Browse http://e-editiones.ch/ontology/indology#">indology:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="has Indological comment literal" xml:lang="en">
               <div class="property-object">has Indological comment literal
                  													(en)
                  												</div>
               <div class="connector">and</div><span property="rdfs:label" content="hat indologischer Kommentarliterale" xml:lang="de"></span><div class="property-object">hat indologischer Kommentarliterale
                  													
                  													(de)
                  												</div>
            </td>
         </tr>
         <div property="rdfs:label" content="hat indologischer Kommentarliterale" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Literal" title="Browse http://www.w3.org/2000/01/rdf-schema#Literal">rdfs:Literal</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subPropertyOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subPropertyOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subPropertyOf">rdfs:subPropertyOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subPropertyOf"><a class="browse" href="http://e-editiones.ch/ontology/text#hasCommentLiteral" title="Browse http://e-editiones.ch/ontology/text#hasCommentLiteral">text:hasCommentLiteral</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div id="vedaHasGenre" class="description">
      <table about="http://e-editiones.ch/ontology/indology#vedaHasGenre" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/indology#vedaHasGenre" title="Browse http://e-editiones.ch/ontology/indology#vedaHasGenre">indology:vedaHasGenre</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a Veda to a genre it has." xml:lang="en">
               <div class="property-object">Relating a Veda to a genre it has.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://e-editiones.ch/ontology/indology#Veda" title="Browse http://e-editiones.ch/ontology/indology#Veda">indology:Veda</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/indology#" title="Browse http://e-editiones.ch/ontology/indology#">indology:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Veda has literary genre" xml:lang="en">
               <div class="property-object">Veda has literary genre
                  													(en)
                  												</div>
               <div class="connector">and</div><span property="rdfs:label" content="Veda hat literarische Gattung" xml:lang="de"></span><div class="property-object">Veda hat literarische Gattung
                  													
                  													(de)
                  												</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Veda hat literarische Gattung" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://e-editiones.ch/ontology/indology#VedaLiterature" title="Browse http://e-editiones.ch/ontology/indology#VedaLiterature">indology:VedaLiterature</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subPropertyOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subPropertyOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subPropertyOf">rdfs:subPropertyOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subPropertyOf"><a class="browse" href="http://e-editiones.ch/ontology/literature#hasGenre" title="Browse http://e-editiones.ch/ontology/literature#hasGenre">literature:hasGenre</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div id="vedaHasRecitingStyle" class="description">
      <table about="http://e-editiones.ch/ontology/indology#vedaHasRecitingStyle" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/indology#vedaHasRecitingStyle" title="Browse http://e-editiones.ch/ontology/indology#vedaHasRecitingStyle">indology:vedaHasRecitingStyle</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a Veda to a reciting style it has." xml:lang="en">
               <div class="property-object">Relating a Veda to a reciting style it has.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://e-editiones.ch/ontology/indology#Veda" title="Browse http://e-editiones.ch/ontology/indology#Veda">indology:Veda</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/indology#" title="Browse http://e-editiones.ch/ontology/indology#">indology:</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Veda hat Rezitationsstil" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://e-editiones.ch/ontology/indology#Patha" title="Browse http://e-editiones.ch/ontology/indology#Patha">indology:Patha</a></div>
            </td>
         </tr>
      </table>
   </div>
</div>