<div xmlns="http://www.w3.org/1999/xhtml" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" class="rdf2html">
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/lavater" typeof="owl:Ontology">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/lavater" title="Browse http://www.e-editiones.ch/ontology/lavater">http://www.e-editiones.ch/ ontology/ lavater</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#Ontology" title="Browse http://www.w3.org/2002/07/owl#Ontology">owl:Ontology</a></th>
         </tr>
         <tr class="http://purl.org/dc/terms/contributor">
            <td><a class="browse" href="http://purl.org/dc/terms/contributor" title="Browse http://purl.org/dc/terms/contributor">dct:contributor</a></td>
            <td property="dct:contributor" content="Reto Baumgartner, tool coordinator and software developer, University of Zürich, Switzerland" xml:lang="en">
               <div class="property-object">Reto Baumgartner, tool coordinator and software developer, University of Zürich, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/creator">
            <td><a class="browse" href="http://purl.org/dc/terms/creator" title="Browse http://purl.org/dc/terms/creator">dct:creator</a></td>
            <td property="dct:creator" content="Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University, Switzerland" xml:lang="en">
               <div class="property-object">Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University,
                  Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/description">
            <td><a class="browse" href="http://purl.org/dc/terms/description" title="Browse http://purl.org/dc/terms/description">dct:description</a></td>
            <td property="dct:description" content="Formal description of specific concepts in the critical edition of correspondence of Johann Caspar Lavater, 15 November 1741 - 2 January 1801." xml:lang="en">
               <div class="property-object">Formal description of specific concepts in the critical edition of correspondence
                  of Johann Caspar Lavater, 15 November 1741 - 2 January 1801.</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/license">
            <td><a class="browse" href="http://purl.org/dc/terms/license" title="Browse http://purl.org/dc/terms/license">dct:license</a></td>
            <td>
               <div class="property-object" rel="dct:license"><a class="browse" href="http://creativecommons.org/licenses/by/3.0/" title="Browse http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/ licenses/ by/ 3.0/ </a></div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/publisher">
            <td><a class="browse" href="http://purl.org/dc/terms/publisher" title="Browse http://purl.org/dc/terms/publisher">dct:publisher</a></td>
            <td property="dct:publisher" content="Universities of Basel, Bern, and Zürich, Switzerland" xml:lang="en">
               <div class="property-object">Universities of Basel, Bern, and Zürich, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/title">
            <td><a class="browse" href="http://purl.org/dc/terms/title" title="Browse http://purl.org/dc/terms/title">dct:title</a></td>
            <td property="dct:title" content="An ontology about Johann Caspar Lavater's correspondence" xml:lang="en">
               <div class="property-object">An ontology about Johann Caspar Lavater's correspondence</div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/lavater#EditedLetter" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/lavater#EditedLetter" title="Browse http://www.e-editiones.ch/ontology/lavater#EditedLetter">edited Johann Caspar Lavater letter expression</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Letter expression either authored or received by Johann Caspar Lavater, and critically edited." xml:lang="en">
               <div class="property-object">Letter expression either authored or received by Johann Caspar Lavater, and critically
                  edited.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/lavater#" title="Browse http://www.e-editiones.ch/ontology/lavater#">http://www.e-editiones.ch/ ontology/ lavater#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="edierter Brief-Expression Johann Caspar Lavaters" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/scholarly-editing#CriticalEdition" title="Browse http://www.e-editiones.ch/ontology/scholarly-editing#CriticalEdition">http://www.e-editiones.ch/ ontology/ scholarly-editing#CriticalEdition</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/lavater#Letter" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/lavater#Letter" title="Browse http://www.e-editiones.ch/ontology/lavater#Letter">Johann Caspar Lavater letter</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Letter send by or to Johann Caspar Lavater." xml:lang="en">
               <div class="property-object">Letter send by or to Johann Caspar Lavater.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/lavater#" title="Browse http://www.e-editiones.ch/ontology/lavater#">http://www.e-editiones.ch/ ontology/ lavater#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Johann Caspar Lavater letter" xml:lang="en">
               <div class="property-object">Johann Caspar Lavater letter</div>
               <div class="connector">,</div><span property="rdfs:label" content="lettera di Johann Caspar Lavater" xml:lang="it"></span><div class="property-object">lettera di Johann Caspar Lavater</div>
               <div class="connector">,</div><span property="rdfs:label" content="Johann Caspar Lavater-Brief" xml:lang="de"></span><div class="property-object">Johann Caspar Lavater-Brief</div>
               <div class="connector">and</div><span property="rdfs:label" content="lettre de Johann Caspar Lavater" xml:lang="fr"></span><div class="property-object">lettre de Johann Caspar Lavater</div>
            </td>
         </tr>
         <div property="rdfs:label" content="lettera di Johann Caspar Lavater" xml:lang="it"></div>
         <div property="rdfs:label" content="Johann Caspar Lavater-Brief" xml:lang="de"></div>
         <div property="rdfs:label" content="lettre de Johann Caspar Lavater" xml:lang="fr"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/information-carrier#ArchiveElement" title="Browse http://www.e-editiones.ch/ontology/information-carrier#ArchiveElement">http://www.e-editiones.ch/ ontology/ information-carrier#ArchiveElement</a></div>
               <div class="connector">,</div>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/letter-corresponding#Letter" title="Browse http://www.e-editiones.ch/ontology/letter-corresponding#Letter">http://www.e-editiones.ch/ ontology/ letter-corresponding#Letter</a></div>
               <div class="connector">and</div>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/information-carrier#ConvoluteElement" title="Browse http://www.e-editiones.ch/ontology/information-carrier#ConvoluteElement">http://www.e-editiones.ch/ ontology/ information-carrier#ConvoluteElement</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/lavater#LetterConvolute" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/lavater#LetterConvolute" title="Browse http://www.e-editiones.ch/ontology/lavater#LetterConvolute">Johann Caspar Lavater letter convolute</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Convolute of letters send by and to Johann Caspar Lavater." xml:lang="en">
               <div class="property-object">Convolute of letters send by and to Johann Caspar Lavater.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/lavater#" title="Browse http://www.e-editiones.ch/ontology/lavater#">http://www.e-editiones.ch/ ontology/ lavater#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Briefekonvolut Johann Caspar Lavaters" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/information-carrier#Convolute" title="Browse http://www.e-editiones.ch/ontology/information-carrier#Convolute">http://www.e-editiones.ch/ ontology/ information-carrier#Convolute</a></div>
               <div class="connector">and</div>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/information-carrier#ArchiveElement" title="Browse http://www.e-editiones.ch/ontology/information-carrier#ArchiveElement">http://www.e-editiones.ch/ ontology/ information-carrier#ArchiveElement</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/lavater#LetterExpression" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/lavater#LetterExpression" title="Browse http://www.e-editiones.ch/ontology/lavater#LetterExpression">Johann Caspar Lavater letter expression</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Letter expression either authored by or written to by Johann Caspar Lavater." xml:lang="en">
               <div class="property-object">Letter expression either authored by or written to by Johann Caspar Lavater.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/lavater#" title="Browse http://www.e-editiones.ch/ontology/lavater#">http://www.e-editiones.ch/ ontology/ lavater#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Brief-Expression Johann Caspar Lavaters" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/letter-corresponding#Expression" title="Browse http://www.e-editiones.ch/ontology/letter-corresponding#Expression">http://www.e-editiones.ch/ ontology/ letter-corresponding#Expression</a></div>
               <div class="connector">and</div>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/text#HandwrittenText" title="Browse http://www.e-editiones.ch/ontology/text#HandwrittenText">http://www.e-editiones.ch/ ontology/ text#HandwrittenText</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/lavater#Page" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/lavater#Page" title="Browse http://www.e-editiones.ch/ontology/lavater#Page">Johann Caspar Lavater letter page</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Page of a letter of Johann Caspar Lavater." xml:lang="en">
               <div class="property-object">Page of a letter of Johann Caspar Lavater.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/lavater#" title="Browse http://www.e-editiones.ch/ontology/lavater#">http://www.e-editiones.ch/ ontology/ lavater#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Seite eines Briefes Johann Caspar Lavaters" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/information-carrier#Page" title="Browse http://www.e-editiones.ch/ontology/information-carrier#Page">http://www.e-editiones.ch/ ontology/ information-carrier#Page</a></div>
            </td>
         </tr>
      </table>
   </div>
</div>