<div xmlns="http://www.w3.org/1999/xhtml" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" class="rdf2html">
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/linguistics" typeof="owl:Ontology">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/linguistics" title="Browse http://www.e-editiones.ch/ontology/linguistics">http://www.e-editiones.ch/ ontology/ linguistics</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#Ontology" title="Browse http://www.w3.org/2002/07/owl#Ontology">owl:Ontology</a></th>
         </tr>
         <tr class="http://purl.org/dc/terms/contributor">
            <td><a class="browse" href="http://purl.org/dc/terms/contributor" title="Browse http://purl.org/dc/terms/contributor">dct:contributor</a></td>
            <td property="dct:contributor" content="Magdalena Plamada, PhD, Zürich University, Switzerland" xml:lang="en">
               <div class="property-object">Magdalena Plamada, PhD, Zürich University, Switzerland</div>
               <div class="connector">and</div><span property="dct:contributor" content="Reto Baumgartner, tool coordinator and software developer, University of Zürich, Switzerland" xml:lang="en"></span><div class="property-object">Reto Baumgartner, tool coordinator and software developer, University of Zürich, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/creator">
            <td><a class="browse" href="http://purl.org/dc/terms/creator" title="Browse http://purl.org/dc/terms/creator">dct:creator</a></td>
            <td property="dct:creator" content="Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University, Switzerland" xml:lang="en">
               <div class="property-object">Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University,
                  Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/description">
            <td><a class="browse" href="http://purl.org/dc/terms/description" title="Browse http://purl.org/dc/terms/description">dct:description</a></td>
            <td property="dct:description" content="Formal description of linguistics, general subclasses, related classes and properties." xml:lang="en">
               <div class="property-object">Formal description of linguistics, general subclasses, related classes and properties.</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/license">
            <td><a class="browse" href="http://purl.org/dc/terms/license" title="Browse http://purl.org/dc/terms/license">dct:license</a></td>
            <td>
               <div class="property-object" rel="dct:license"><a class="browse" href="http://creativecommons.org/licenses/by/3.0/" title="Browse http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/ licenses/ by/ 3.0/ </a></div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/publisher">
            <td><a class="browse" href="http://purl.org/dc/terms/publisher" title="Browse http://purl.org/dc/terms/publisher">dct:publisher</a></td>
            <td property="dct:publisher" content="Universities of Basel, Bern, and Zürich, Switzerland" xml:lang="en">
               <div class="property-object">Universities of Basel, Bern, and Zürich, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/title">
            <td><a class="browse" href="http://purl.org/dc/terms/title" title="Browse http://purl.org/dc/terms/title">dct:title</a></td>
            <td property="dct:title" content="An ontology about language" xml:lang="en">
               <div class="property-object">An ontology about language</div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/linguistics#Answer" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/linguistics#Answer" title="Browse http://www.e-editiones.ch/ontology/linguistics#Answer">answer</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Sentence providing information on elicitation." xml:lang="en">
               <div class="property-object">Sentence providing information on elicitation.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/linguistics#" title="Browse http://www.e-editiones.ch/ontology/linguistics#">http://www.e-editiones.ch/ ontology/ linguistics#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Antwort" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/text-structure#Sentence" title="Browse http://www.e-editiones.ch/ontology/text-structure#Sentence">http://www.e-editiones.ch/ ontology/ text-structure#Sentence</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/linguistics#Command" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/linguistics#Command" title="Browse http://www.e-editiones.ch/ontology/linguistics#Command">command</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Sentence... ." xml:lang="en">
               <div class="property-object">Sentence... .</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/linguistics#" title="Browse http://www.e-editiones.ch/ontology/linguistics#">http://www.e-editiones.ch/ ontology/ linguistics#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="command" xml:lang="en">
               <div class="property-object">command</div>
               <div class="connector">and</div><span property="rdfs:label" content="Befehl" xml:lang="de"></span><div class="property-object">Befehl</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Befehl" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/text-structure#Sentence" title="Browse http://www.e-editiones.ch/ontology/text-structure#Sentence">http://www.e-editiones.ch/ ontology/ text-structure#Sentence</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/linguistics#Concept" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/linguistics#Concept" title="Browse http://www.e-editiones.ch/ontology/linguistics#Concept">linguistic concept</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Concept in the knowledge domain of linguistics." xml:lang="en">
               <div class="property-object">Concept in the knowledge domain of linguistics.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/linguistics#" title="Browse http://www.e-editiones.ch/ontology/linguistics#">http://www.e-editiones.ch/ ontology/ linguistics#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="linguistisches Konzept" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/concept#ConceptualEntity" title="Browse http://www.e-editiones.ch/ontology/concept#ConceptualEntity">http://www.e-editiones.ch/ ontology/ concept#ConceptualEntity</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/linguistics#Evaluation" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/linguistics#Evaluation" title="Browse http://www.e-editiones.ch/ontology/linguistics#Evaluation">evaluation</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Examination with judgement of any kind, as output of evaluating." xml:lang="en">
               <div class="property-object">Examination with judgement of any kind, as output of evaluating.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/linguistics#" title="Browse http://www.e-editiones.ch/ontology/linguistics#">http://www.e-editiones.ch/ ontology/ linguistics#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Evaluation" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/text-structure#Sentence" title="Browse http://www.e-editiones.ch/ontology/text-structure#Sentence">http://www.e-editiones.ch/ ontology/ text-structure#Sentence</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/linguistics#Lemma" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/linguistics#Lemma" title="Browse http://www.e-editiones.ch/ontology/linguistics#Lemma">lemma</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Dictionary entry of a lexeme." xml:lang="en">
               <div class="property-object">Dictionary entry of a lexeme.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/linguistics#" title="Browse http://www.e-editiones.ch/ontology/linguistics#">http://www.e-editiones.ch/ ontology/ linguistics#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="lemma" xml:lang="en">
               <div class="property-object">lemma</div>
               <div class="connector">and</div><span property="rdfs:label" content="Lemma" xml:lang="de"></span><div class="property-object">Lemma</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Lemma" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#seeAlso">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#seeAlso" title="Browse http://www.w3.org/2000/01/rdf-schema#seeAlso">rdfs:seeAlso</a></td>
            <td>
               <div class="property-object" rel="rdfs:seeAlso"><a class="browse" href="http://www.dcuci.univr.it/documenti/OccorrenzaIns/matdid/matdid121824.pdf" title="Browse http://www.dcuci.univr.it/documenti/OccorrenzaIns/matdid/matdid121824.pdf">http://www.dcuci.univr.it/ documenti/ OccorrenzaIns/ matdid/ matdid121824.pdf</a></div>
               <div class="connector">and</div>
               <div class="property-object" rel="rdfs:seeAlso"><a class="browse" href="http://www.alphabit.net/ATL3Leunitadianalisi.pdf" title="Browse http://www.alphabit.net/ATL3Leunitadianalisi.pdf">http://www.alphabit.net/ ATL3Leunitadianalisi.pdf</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/linguistics#Concept" title="Browse http://www.e-editiones.ch/ontology/linguistics#Concept">linguistic concept</a></div>
               <div class="connector">and</div>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/concept#SymbolicEntity" title="Browse http://www.e-editiones.ch/ontology/concept#SymbolicEntity">http://www.e-editiones.ch/ ontology/ concept#SymbolicEntity</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/linguistics#Lexeme" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/linguistics#Lexeme" title="Browse http://www.e-editiones.ch/ontology/linguistics#Lexeme">lexeme</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Linguistic concept as individual semantic entity in human natural language." xml:lang="en">
               <div class="property-object">Linguistic concept as individual semantic entity in human natural language.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/linguistics#" title="Browse http://www.e-editiones.ch/ontology/linguistics#">http://www.e-editiones.ch/ ontology/ linguistics#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="lexeme" xml:lang="en">
               <div class="property-object">lexeme</div>
               <div class="connector">and</div><span property="rdfs:label" content="Lexem" xml:lang="de"></span><div class="property-object">Lexem</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Lexem" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/language#HumanNaturalLanguageExpression" title="Browse http://www.e-editiones.ch/ontology/language#HumanNaturalLanguageExpression">http://www.e-editiones.ch/ ontology/ language#HumanNaturalLanguageExpression</a></div>
               <div class="connector">and</div>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/linguistics#Concept" title="Browse http://www.e-editiones.ch/ontology/linguistics#Concept">linguistic concept</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/linguistics#Literal" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/linguistics#Literal" title="Browse http://www.e-editiones.ch/ontology/linguistics#Literal">literal</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="One or more language symbols of any kind." xml:lang="en">
               <div class="property-object">One or more language symbols of any kind.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/linguistics#" title="Browse http://www.e-editiones.ch/ontology/linguistics#">http://www.e-editiones.ch/ ontology/ linguistics#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Literal" xml:lang="de"></div>
         <tr class="http://www.w3.org/2004/02/skos/core#note">
            <td><a class="browse" href="http://www.w3.org/2004/02/skos/core#note" title="Browse http://www.w3.org/2004/02/skos/core#note">skos:note</a></td>
            <td property="skos:note" content="Not only letters; as also used in Information Technology, e.g. Resource Description Framework." xml:lang="en">
               <div class="property-object">Not only letters; as also used in Information Technology, e.g. Resource Description
                  Framework.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/text#WrittenText" title="Browse http://www.e-editiones.ch/ontology/text#WrittenText">http://www.e-editiones.ch/ ontology/ text#WrittenText</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/linguistics#Promise" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/linguistics#Promise" title="Browse http://www.e-editiones.ch/ontology/linguistics#Promise">promise</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Sentence... ." xml:lang="en">
               <div class="property-object">Sentence... .</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/linguistics#" title="Browse http://www.e-editiones.ch/ontology/linguistics#">http://www.e-editiones.ch/ ontology/ linguistics#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Versprechen" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/text-structure#Sentence" title="Browse http://www.e-editiones.ch/ontology/text-structure#Sentence">http://www.e-editiones.ch/ ontology/ text-structure#Sentence</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/linguistics#Question" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/linguistics#Question" title="Browse http://www.e-editiones.ch/ontology/linguistics#Question">question</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Sentence eliciting information." xml:lang="en">
               <div class="property-object">Sentence eliciting information.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/linguistics#" title="Browse http://www.e-editiones.ch/ontology/linguistics#">http://www.e-editiones.ch/ ontology/ linguistics#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Frage" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/text-structure#Sentence" title="Browse http://www.e-editiones.ch/ontology/text-structure#Sentence">http://www.e-editiones.ch/ ontology/ text-structure#Sentence</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/linguistics#Statement" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/linguistics#Statement" title="Browse http://www.e-editiones.ch/ontology/linguistics#Statement">statement</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Sentence... ." xml:lang="en">
               <div class="property-object">Sentence... .</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/linguistics#" title="Browse http://www.e-editiones.ch/ontology/linguistics#">http://www.e-editiones.ch/ ontology/ linguistics#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Aussage" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/text-structure#Sentence" title="Browse http://www.e-editiones.ch/ontology/text-structure#Sentence">http://www.e-editiones.ch/ ontology/ text-structure#Sentence</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/linguistics#Symbol" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/linguistics#Symbol" title="Browse http://www.e-editiones.ch/ontology/linguistics#Symbol">language symbol</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="." xml:lang="en">
               <div class="property-object">.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/linguistics#" title="Browse http://www.e-editiones.ch/ontology/linguistics#">http://www.e-editiones.ch/ ontology/ linguistics#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="Sprache-Symbol" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/text#WrittenText" title="Browse http://www.e-editiones.ch/ontology/text#WrittenText">http://www.e-editiones.ch/ ontology/ text#WrittenText</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/linguistics#hasComment" typeof="owl:DatatypeProperty">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/linguistics#hasComment" title="Browse http://www.e-editiones.ch/ontology/linguistics#hasComment">has linguistic comment</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#DatatypeProperty" title="Browse http://www.w3.org/2002/07/owl#DatatypeProperty">owl:DatatypeProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a human natural language expression to a linguistic comment as a textual statement about the expression." xml:lang="en">
               <div class="property-object">Relating a human natural language expression to a linguistic comment as a textual
                  statement about the expression.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="/ontology/language#HumanNaturalLanguageExpression" title="Browse http://www.e-editiones.ch/ontology/language#HumanNaturalLanguageExpression">http://www.e-editiones.ch/ ontology/ language#HumanNaturalLanguageExpression</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/linguistics#" title="Browse http://www.e-editiones.ch/ontology/linguistics#">http://www.e-editiones.ch/ ontology/ linguistics#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="hat linguistischer Kommentar" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Literal" title="Browse http://www.w3.org/2000/01/rdf-schema#Literal">rdfs:Literal</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subPropertyOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subPropertyOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subPropertyOf">rdfs:subPropertyOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subPropertyOf"><a class="browse" href="/ontology/text#hasComment" title="Browse http://www.e-editiones.ch/ontology/text#hasComment">http://www.e-editiones.ch/ ontology/ text#hasComment</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/linguistics#hasLanguage" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/linguistics#hasLanguage" title="Browse http://www.e-editiones.ch/ontology/linguistics#hasLanguage">has language</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a linguistic concept to its human natural language." xml:lang="en">
               <div class="property-object">Relating a linguistic concept to its human natural language.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="/ontology/linguistics#Concept" title="Browse http://www.e-editiones.ch/ontology/linguistics#Concept">linguistic concept</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/linguistics#" title="Browse http://www.e-editiones.ch/ontology/linguistics#">http://www.e-editiones.ch/ ontology/ linguistics#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="has language" xml:lang="en">
               <div class="property-object">has language</div>
               <div class="connector">and</div><span property="rdfs:label" content="hat Sprache" xml:lang="de"></span><div class="property-object">hat Sprache</div>
            </td>
         </tr>
         <div property="rdfs:label" content="hat Sprache" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="/ontology/language#HumanNaturalLanguage" title="Browse http://www.e-editiones.ch/ontology/language#HumanNaturalLanguage">http://www.e-editiones.ch/ ontology/ language#HumanNaturalLanguage</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/linguistics#hasLemma" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/linguistics#hasLemma" title="Browse http://www.e-editiones.ch/ontology/linguistics#hasLemma">has lemma</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a lexeme to a lemma." xml:lang="en">
               <div class="property-object">Relating a lexeme to a lemma.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="/ontology/linguistics#Lexeme" title="Browse http://www.e-editiones.ch/ontology/linguistics#Lexeme">lexeme</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/linguistics#" title="Browse http://www.e-editiones.ch/ontology/linguistics#">http://www.e-editiones.ch/ ontology/ linguistics#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="hat Lemma" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="/ontology/linguistics#Lemma" title="Browse http://www.e-editiones.ch/ontology/linguistics#Lemma">lemma</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/linguistics#hasSynonym" typeof="owl:DatatypeProperty">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/linguistics#hasSynonym" title="Browse http://www.e-editiones.ch/ontology/linguistics#hasSynonym">has synonym</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#DatatypeProperty" title="Browse http://www.w3.org/2002/07/owl#DatatypeProperty">owl:DatatypeProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a resource to a synonym of the name of the resource." xml:lang="en">
               <div class="property-object">Relating a resource to a synonym of the name of the resource.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Resource" title="Browse http://www.w3.org/2000/01/rdf-schema#Resource">rdfs:Resource</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/linguistics#" title="Browse http://www.e-editiones.ch/ontology/linguistics#">http://www.e-editiones.ch/ ontology/ linguistics#</a></div>
            </td>
         </tr>
         <div property="rdfs:label" content="hat Synonym" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Literal" title="Browse http://www.w3.org/2000/01/rdf-schema#Literal">rdfs:Literal</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subPropertyOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subPropertyOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subPropertyOf">rdfs:subPropertyOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subPropertyOf"><a class="browse" href="/ontology/text#hasName" title="Browse http://www.e-editiones.ch/ontology/text#hasName">http://www.e-editiones.ch/ ontology/ text#hasName</a></div>
            </td>
         </tr>
      </table>
   </div>
</div>