<div xmlns="http://www.w3.org/1999/xhtml" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" class="rdf2html">
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/logic" typeof="owl:Ontology">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/logic" title="Browse http://www.e-editiones.ch/ontology/logic">http://www.e-editiones.ch/ ontology/ logic</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#Ontology" title="Browse http://www.w3.org/2002/07/owl#Ontology">owl:Ontology</a></th>
         </tr>
         <tr class="http://purl.org/dc/terms/creator">
            <td><a class="browse" href="http://purl.org/dc/terms/creator" title="Browse http://purl.org/dc/terms/creator">dc:creator</a></td>
            <td property="dc:creator" content="Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University, Switzerland" xml:lang="en">
               <div class="property-object">Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University,
                  Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/description">
            <td><a class="browse" href="http://purl.org/dc/terms/description" title="Browse http://purl.org/dc/terms/description">dc:description</a></td>
            <td property="dc:description" content="Formal description of logic, general subclasses, related classes and properties." xml:lang="en">
               <div class="property-object">Formal description of logic, general subclasses, related classes and properties.</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/license">
            <td><a class="browse" href="http://purl.org/dc/terms/license" title="Browse http://purl.org/dc/terms/license">dc:license</a></td>
            <td>
               <div class="property-object" rel="dc:license"><a class="browse" href="http://creativecommons.org/licenses/by/3.0/" title="Browse http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/ licenses/ by/ 3.0/ </a></div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/publisher">
            <td><a class="browse" href="http://purl.org/dc/terms/publisher" title="Browse http://purl.org/dc/terms/publisher">dc:publisher</a></td>
            <td property="dc:publisher" content="Universities of Basel, Bern, and Zürich, Switzerland" xml:lang="en">
               <div class="property-object">Universities of Basel, Bern, and Zürich, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/title">
            <td><a class="browse" href="http://purl.org/dc/terms/title" title="Browse http://purl.org/dc/terms/title">dc:title</a></td>
            <td property="dc:title" content="An ontology about logic" xml:lang="en">
               <div class="property-object">An ontology about logic</div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/logic#Argument" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/logic#Argument" title="Browse http://www.e-editiones.ch/ontology/logic#Argument">argument</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Premise(s) presenting a reason for accepting a conclusion." xml:lang="en">
               <div class="property-object">Premise(s) presenting a reason for accepting a conclusion.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/logic#" title="Browse http://www.e-editiones.ch/ontology/logic#">http://www.e-editiones.ch/ ontology/ logic#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="argument" xml:lang="en">
               <div class="property-object">argument</div>
               <div class="connector">and</div><span property="rdfs:label" content="Argument" xml:lang="de"></span><div class="property-object">Argument</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Argument" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/text-structure#Paragraph" title="Browse http://www.e-editiones.ch/ontology/text-structure#Paragraph">http://www.e-editiones.ch/ ontology/ text-structure#Paragraph</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/logic#Conclusion" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/logic#Conclusion" title="Browse http://www.e-editiones.ch/ontology/logic#Conclusion">conclusion</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Statement ... ." xml:lang="en">
               <div class="property-object">Statement ... .</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/logic#" title="Browse http://www.e-editiones.ch/ontology/logic#">http://www.e-editiones.ch/ ontology/ logic#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="conclusion" xml:lang="en">
               <div class="property-object">conclusion</div>
               <div class="connector">and</div><span property="rdfs:label" content="Konklusion" xml:lang="de"></span><div class="property-object">Konklusion</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Konklusion" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/linguistics#Statement" title="Browse http://www.e-editiones.ch/ontology/linguistics#Statement">http://www.e-editiones.ch/ ontology/ linguistics#Statement</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/logic#Premise" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/logic#Premise" title="Browse http://www.e-editiones.ch/ontology/logic#Premise">premise</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Statement ... ." xml:lang="en">
               <div class="property-object">Statement ... .</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/logic#" title="Browse http://www.e-editiones.ch/ontology/logic#">http://www.e-editiones.ch/ ontology/ logic#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="premise" xml:lang="en">
               <div class="property-object">premise</div>
               <div class="connector">and</div><span property="rdfs:label" content="Prämisse" xml:lang="de"></span><div class="property-object">Prämisse</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Prämisse" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/linguistics#Statement" title="Browse http://www.e-editiones.ch/ontology/linguistics#Statement">http://www.e-editiones.ch/ ontology/ linguistics#Statement</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/logic#Syllogism" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/logic#Syllogism" title="Browse http://www.e-editiones.ch/ontology/logic#Syllogism">syllogism</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="." xml:lang="en">
               <div class="property-object">.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/logic#" title="Browse http://www.e-editiones.ch/ontology/logic#">http://www.e-editiones.ch/ ontology/ logic#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="syllogism" xml:lang="en">
               <div class="property-object">syllogism</div>
               <div class="connector">and</div><span property="rdfs:label" content="Syllogismus" xml:lang="de"></span><div class="property-object">Syllogismus</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Syllogismus" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/logic#Argument" title="Browse http://www.e-editiones.ch/ontology/logic#Argument">argument</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/logic#isConclusionOfArgument" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/logic#isConclusionOfArgument" title="Browse http://www.e-editiones.ch/ontology/logic#isConclusionOfArgument">is conclusion of argument</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a conclusion to an argument it is part of." xml:lang="en">
               <div class="property-object">Relating a conclusion to an argument it is part of.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://www.e-editiones.ch/ontology/logic#Conclusion" title="Browse http://www.e-editiones.ch/ontology/logic#Conclusion">conclusion</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/logic#" title="Browse http://www.e-editiones.ch/ontology/logic#">http://www.e-editiones.ch/ ontology/ logic#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="is conclusion of argument" xml:lang="en">
               <div class="property-object">is conclusion of argument</div>
               <div class="connector">and</div><span property="rdfs:label" content="ist Konklusion eines Argumentes" xml:lang="de"></span><div class="property-object">ist Konklusion eines Argumentes</div>
            </td>
         </tr>
         <div property="rdfs:label" content="ist Konklusion eines Argumentes" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://www.e-editiones.ch/ontology/logic#Argument" title="Browse http://www.e-editiones.ch/ontology/logic#Argument">argument</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subPropertyOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subPropertyOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subPropertyOf">rdfs:subPropertyOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subPropertyOf"><a class="browse" href="http://www.e-editiones.ch/ontology/text-structure#isSentenceOfParagraph" title="Browse http://www.e-editiones.ch/ontology/text-structure#isSentenceOfParagraph">http://www.e-editiones.ch/ ontology/ text-structure#isSentenceOfParagraph</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/logic#isPremiseOfArgument" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/logic#isPremiseOfArgument" title="Browse http://www.e-editiones.ch/ontology/logic#isPremiseOfArgument">is premise of argument</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a premise to an argument it is part of." xml:lang="en">
               <div class="property-object">Relating a premise to an argument it is part of.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://www.e-editiones.ch/ontology/logic#Premise" title="Browse http://www.e-editiones.ch/ontology/logic#Premise">premise</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/logic#" title="Browse http://www.e-editiones.ch/ontology/logic#">http://www.e-editiones.ch/ ontology/ logic#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="is premise of argument" xml:lang="en">
               <div class="property-object">is premise of argument</div>
               <div class="connector">and</div><span property="rdfs:label" content="ist Prämisse eines Argumentes" xml:lang="de"></span><div class="property-object">ist Prämisse eines Argumentes</div>
            </td>
         </tr>
         <div property="rdfs:label" content="ist Prämisse eines Argumentes" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://www.e-editiones.ch/ontology/logic#Argument" title="Browse http://www.e-editiones.ch/ontology/logic#Argument">argument</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subPropertyOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subPropertyOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subPropertyOf">rdfs:subPropertyOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subPropertyOf"><a class="browse" href="http://www.e-editiones.ch/ontology/text-structure#isSentenceOfParagraph" title="Browse http://www.e-editiones.ch/ontology/text-structure#isSentenceOfParagraph">http://www.e-editiones.ch/ ontology/ text-structure#isSentenceOfParagraph</a></div>
            </td>
         </tr>
      </table>
   </div>
</div>