<div xmlns="http://www.w3.org/1999/xhtml" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" class="rdf2html">
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/philosophies" typeof="owl:Ontology">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/philosophies" title="Browse http://www.e-editiones.ch/ontology/philosophies">http://www.e-editiones.ch/ ontology/ philosophies</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#Ontology" title="Browse http://www.w3.org/2002/07/owl#Ontology">owl:Ontology</a></th>
         </tr>
         <tr class="http://purl.org/dc/terms/contributor">
            <td><a class="browse" href="http://purl.org/dc/terms/contributor" title="Browse http://purl.org/dc/terms/contributor">dct:contributor</a></td>
            <td property="dct:contributor" content="Prof. Dr. Ueli Zahnd, Faculty of Theology, University of Basel, Switzerland" xml:lang="en">
               <div class="property-object">Prof. Dr. Ueli Zahnd, Faculty of Theology, University of Basel, Switzerland</div>
               <div class="connector">and</div><span property="dct:contributor" content="Gabriel Müller, Faculty of Theology, University of Basel, Switzerland" xml:lang="en"></span><div class="property-object">Gabriel Müller, Faculty of Theology, University of Basel, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/creator">
            <td><a class="browse" href="http://purl.org/dc/terms/creator" title="Browse http://purl.org/dc/terms/creator">dct:creator</a></td>
            <td property="dct:creator" content="Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University, Switzerland" xml:lang="en">
               <div class="property-object">Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University,
                  Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/description">
            <td><a class="browse" href="http://purl.org/dc/terms/description" title="Browse http://purl.org/dc/terms/description">dct:description</a></td>
            <td property="dct:description" content="Formal description of philosophies, general subclasses, related classes, properties, and instances." xml:lang="en">
               <div class="property-object">Formal description of philosophies, general subclasses, related classes, properties,
                  and instances.</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/license">
            <td><a class="browse" href="http://purl.org/dc/terms/license" title="Browse http://purl.org/dc/terms/license">dct:license</a></td>
            <td>
               <div class="property-object" rel="dct:license"><a class="browse" href="http://creativecommons.org/licenses/by/3.0/" title="Browse http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/ licenses/ by/ 3.0/ </a></div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/title">
            <td><a class="browse" href="http://purl.org/dc/terms/title" title="Browse http://purl.org/dc/terms/title">dct:title</a></td>
            <td property="dct:title" content="An ontology about philosophies" xml:lang="en">
               <div class="property-object">An ontology about philosophies</div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/philosophies#Albertism" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/philosophies#Albertism" title="Browse http://www.e-editiones.ch/ontology/philosophies#Albertism">Albertism</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Philosophy and theology based on the ideas of Albertus Magnus (before 1200 - 1280-11-15)." xml:lang="en">
               <div class="property-object">Philosophy and theology based on the ideas of Albertus Magnus (before 1200 - 1280-11-15).</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/philosophies#" title="Browse http://www.e-editiones.ch/ontology/philosophies#">http://www.e-editiones.ch/ ontology/ philosophies#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Albertism" xml:lang="en">
               <div class="property-object">Albertism</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/philosophy#Philosophy" title="Browse http://www.e-editiones.ch/ontology/philosophy#Philosophy">http://www.e-editiones.ch/ ontology/ philosophy#Philosophy</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/philosophies#Humanism" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/philosophies#Humanism" title="Browse http://www.e-editiones.ch/ontology/philosophies#Humanism">Humanism</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="." xml:lang="en">
               <div class="property-object">.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/philosophies#" title="Browse http://www.e-editiones.ch/ontology/philosophies#">http://www.e-editiones.ch/ ontology/ philosophies#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Humanism" xml:lang="en">
               <div class="property-object">Humanism</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/philosophy#Philosophy" title="Browse http://www.e-editiones.ch/ontology/philosophy#Philosophy">http://www.e-editiones.ch/ ontology/ philosophy#Philosophy</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/philosophies#Nominalism" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/philosophies#Nominalism" title="Browse http://www.e-editiones.ch/ontology/philosophies#Nominalism">Nominalism</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Philosophy stating that only individual things exist, denying the existence of universals and abstract objects." xml:lang="en">
               <div class="property-object">Philosophy stating that only individual things exist, denying the existence of universals
                  and abstract objects.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/philosophies#" title="Browse http://www.e-editiones.ch/ontology/philosophies#">http://www.e-editiones.ch/ ontology/ philosophies#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Nominalism" xml:lang="en">
               <div class="property-object">Nominalism</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/philosophy#Metaphysics" title="Browse http://www.e-editiones.ch/ontology/philosophy#Metaphysics">http://www.e-editiones.ch/ ontology/ philosophy#Metaphysics</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/philosophies#Scotism" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/philosophies#Scotism" title="Browse http://www.e-editiones.ch/ontology/philosophies#Scotism">Scotism</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="." xml:lang="en">
               <div class="property-object">.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/philosophies#" title="Browse http://www.e-editiones.ch/ontology/philosophies#">http://www.e-editiones.ch/ ontology/ philosophies#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Scotism" xml:lang="en">
               <div class="property-object">Scotism</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/philosophy#Philosophy" title="Browse http://www.e-editiones.ch/ontology/philosophy#Philosophy">http://www.e-editiones.ch/ ontology/ philosophy#Philosophy</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/philosophies#Thomism" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/philosophies#Thomism" title="Browse http://www.e-editiones.ch/ontology/philosophies#Thomism">Thomism</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Philosophy based on the work of Thomas Aquinas (1225 - 1274-O3-O7)." xml:lang="en">
               <div class="property-object">Philosophy based on the work of Thomas Aquinas (1225 - 1274-O3-O7).</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/philosophies#" title="Browse http://www.e-editiones.ch/ontology/philosophies#">http://www.e-editiones.ch/ ontology/ philosophies#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Thomism" xml:lang="en">
               <div class="property-object">Thomism</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="/ontology/philosophy#Philosophy" title="Browse http://www.e-editiones.ch/ontology/philosophy#Philosophy">http://www.e-editiones.ch/ ontology/ philosophy#Philosophy</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/philosophies#adheringToThought" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="/ontology/philosophies#adheringToThought" title="Browse http://www.e-editiones.ch/ontology/philosophies#adheringToThought">adhering to philosophy</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a person to a philosophy the person adheres to." xml:lang="en">
               <div class="property-object">Relating a person to a philosophy the person adheres to.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="/ontology/human#Person" title="Browse http://www.e-editiones.ch/ontology/human#Person">http://www.e-editiones.ch/ ontology/ human#Person</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="/ontology/philosophies#" title="Browse http://www.e-editiones.ch/ontology/philosophies#">http://www.e-editiones.ch/ ontology/ philosophies#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="adhering to philosophy" xml:lang="en">
               <div class="property-object">adhering to philosophy</div>
               <div class="connector">and</div><span property="rdfs:label" content="ist Anhänger von Philosophie" xml:lang="de"></span><div class="property-object">ist Anhänger von Philosophie</div>
            </td>
         </tr>
         <div property="rdfs:label" content="ist Anhänger von Philosophie" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="/ontology/philosophy#Philosophy" title="Browse http://www.e-editiones.ch/ontology/philosophy#Philosophy">http://www.e-editiones.ch/ ontology/ philosophy#Philosophy</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subPropertyOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subPropertyOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subPropertyOf">rdfs:subPropertyOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subPropertyOf"><a class="browse" href="/ontology/human#adheringToThought" title="Browse http://www.e-editiones.ch/ontology/human#adheringToThought">http://www.e-editiones.ch/ ontology/ human#adheringToThought</a></div>
            </td>
         </tr>
      </table>
   </div>
</div>