<div xmlns="http://www.w3.org/1999/xhtml" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:owl="http://www.w3.org/2002/07/owl#" xmlns:dct="http://purl.org/dc/terms/" xmlns:skos="http://www.w3.org/2004/02/skos/core#" xmlns:xsd="http://www.w3.org/2001/XMLSchema#" class="rdf2html">
   <div id="" class="description">
      <table about="http://e-editiones.ch/ontology/physical-geography" typeof="owl:Ontology">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/physical-geography" title="Browse http://e-editiones.ch/ontology/physical-geography"></a><div xmlns="" class="connector"></div> # customization: empty connector = remove 'a' (syntactic sugar for rdf:type)
               		<a class="browse" href="http://www.w3.org/2002/07/owl#Ontology" title="Browse http://www.w3.org/2002/07/owl#Ontology">owl:Ontology</a></th>
         </tr>
         <tr class="http://purl.org/dc/terms/contributor">
            <td style="width: 25%;"><a class="browse" href="http://purl.org/dc/terms/contributor" title="Browse http://purl.org/dc/terms/contributor">dct:contributor</a></td>
            <td property="dct:contributor" content="Dominique Steinbach, tool coordinator and software developer, University of Basel, Switzerland" xml:lang="en">
               <div class="property-object">Dominique Steinbach, tool coordinator and software developer, University of Basel,
                  Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/creator">
            <td style="width: 25%;"><a class="browse" href="http://purl.org/dc/terms/creator" title="Browse http://purl.org/dc/terms/creator">dct:creator</a></td>
            <td property="dct:creator" content="Hans Cools, MD, knowledge engineer, ontologist, software developer, University of Basel, Switzerland" xml:lang="en">
               <div class="property-object">Hans Cools, MD, knowledge engineer, ontologist, software developer, University of
                  Basel, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/description">
            <td style="width: 25%;"><a class="browse" href="http://purl.org/dc/terms/description" title="Browse http://purl.org/dc/terms/description">dct:description</a></td>
            <td property="dct:description" content="Formal description of physical geography, general subclasses, related classes, and properties." xml:lang="en">
               <div class="property-object">Formal description of physical geography, general subclasses, related classes, and
                  properties.</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/license">
            <td style="width: 25%;"><a class="browse" href="http://purl.org/dc/terms/license" title="Browse http://purl.org/dc/terms/license">dct:license</a></td>
            <td>
               <div class="property-object" rel="dct:license"><a class="browse" href="http://creativecommons.org/licenses/by/3.0/" title="Browse http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/ licenses/ by/ 3.0/ </a></div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/publisher">
            <td style="width: 25%;"><a class="browse" href="http://purl.org/dc/terms/publisher" title="Browse http://purl.org/dc/terms/publisher">dct:publisher</a></td>
            <td property="dct:publisher" content="Universities of Basel, Bern, and Zürich, Switzerland" xml:lang="en">
               <div class="property-object">Universities of Basel, Bern, and Zürich, Switzerland</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#seeAlso">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#seeAlso" title="Browse http://www.w3.org/2000/01/rdf-schema#seeAlso">rdfs:seeAlso</a></td>
            <td>
               <div class="property-object" rel="rdfs:seeAlso"><a class="browse" href="https://en.wikipedia.org/wiki/World_Geodetic_System" title="Browse https://en.wikipedia.org/wiki/World_Geodetic_System">https://en.wikipedia.org/ wiki/ World Geodetic System</a></div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/title">
            <td style="width: 25%;"><a class="browse" href="http://purl.org/dc/terms/title" title="Browse http://purl.org/dc/terms/title">dct:title</a></td>
            <td property="dct:title" content="Physical Geography" xml:lang="en">
               <div class="property-object">Physical Geography</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2002/07/owl#versionInfo">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2002/07/owl#versionInfo" title="Browse http://www.w3.org/2002/07/owl#versionInfo">owl:versionInfo</a></td>
            <td xmlns:d1e34="http://www.w3.org/2001/XMLSchema#" property="owl:versionInfo" content="2020-06-11" datatype="xsd:date">
               <div class="property-object">2020-06-11</div>
            </td>
         </tr>
      </table>
   </div>
   <h2>Classes</h2>
   <div id="EarthPlace" class="description">
      <table about="http://e-editiones.ch/ontology/physical-geography#EarthPlace" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/physical-geography#EarthPlace" title="Browse http://e-editiones.ch/ontology/physical-geography#EarthPlace">physical-geography:EarthPlace</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Place on earth, positionable using the World Geodetic System (WGS) standard." xml:lang="en">
               <div class="property-object">Place on earth, positionable using the World Geodetic System (WGS) standard.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/physical-geography#" title="Browse http://e-editiones.ch/ontology/physical-geography#">physical-geography:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="Platz auf Erde" xml:lang="de">
               <div class="property-object">Platz auf Erde
                  													(de)
                  												</div>
               <div class="connector"></div><span property="rdfs:label" content="place on Earth" xml:lang="en"></span><div class="property-object">place on Earth
                  													
                  													(en)
                  												</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://e-editiones.ch/ontology/physical-entity#Place" title="Browse http://e-editiones.ch/ontology/physical-entity#Place">physical-entity:Place</a></div>
            </td>
         </tr>
      </table>
   </div>
   <h2>Properties</h2>
   <div id="earthPlaceHasIdentifierLiteral" class="description">
      <table about="http://e-editiones.ch/ontology/physical-geography#earthPlaceHasIdentifierLiteral" typeof="owl:DatatypeProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/physical-geography#earthPlaceHasIdentifierLiteral" title="Browse http://e-editiones.ch/ontology/physical-geography#earthPlaceHasIdentifierLiteral">physical-geography:earthPlaceHasIdentifierLiteral</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#DatatypeProperty" title="Browse http://www.w3.org/2002/07/owl#DatatypeProperty">owl:DatatypeProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a place on Earth to its identifier literal." xml:lang="en">
               <div class="property-object">Relating a place on Earth to its identifier literal.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://e-editiones.ch/ontology/physical-geography#EarthPlace" title="Browse http://e-editiones.ch/ontology/physical-geography#EarthPlace">physical-geography:EarthPlace</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/physical-geography#" title="Browse http://e-editiones.ch/ontology/physical-geography#">physical-geography:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="earth place has identifier literal" xml:lang="en">
               <div class="property-object">earth place has identifier literal
                  													(en)
                  												</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Literal" title="Browse http://www.w3.org/2000/01/rdf-schema#Literal">rdfs:Literal</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subPropertyOf">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subPropertyOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subPropertyOf">rdfs:subPropertyOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subPropertyOf"><a class="browse" href="http://e-editiones.ch/ontology/concept#hasIdentifierLiteral" title="Browse http://e-editiones.ch/ontology/concept#hasIdentifierLiteral">concept:hasIdentifierLiteral</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div id="earthPlaceHasNameLiteral" class="description">
      <table about="http://e-editiones.ch/ontology/physical-geography#earthPlaceHasNameLiteral" typeof="owl:DatatypeProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/physical-geography#earthPlaceHasNameLiteral" title="Browse http://e-editiones.ch/ontology/physical-geography#earthPlaceHasNameLiteral">physical-geography:earthPlaceHasNameLiteral</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#DatatypeProperty" title="Browse http://www.w3.org/2002/07/owl#DatatypeProperty">owl:DatatypeProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a place on Earth to its name literal." xml:lang="en">
               <div class="property-object">Relating a place on Earth to its name literal.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://e-editiones.ch/ontology/physical-geography#EarthPlace" title="Browse http://e-editiones.ch/ontology/physical-geography#EarthPlace">physical-geography:EarthPlace</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/physical-geography#" title="Browse http://e-editiones.ch/ontology/physical-geography#">physical-geography:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="earth place has name literal" xml:lang="en">
               <div class="property-object">earth place has name literal
                  													(en)
                  												</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Literal" title="Browse http://www.w3.org/2000/01/rdf-schema#Literal">rdfs:Literal</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subPropertyOf">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subPropertyOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subPropertyOf">rdfs:subPropertyOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subPropertyOf"><a class="browse" href="http://e-editiones.ch/ontology/physical-entity#placeHasNameLiteral" title="Browse http://e-editiones.ch/ontology/physical-entity#placeHasNameLiteral">physical-entity:placeHasNameLiteral</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div id="hasElevation" class="description">
      <table about="http://e-editiones.ch/ontology/physical-geography#hasElevation" typeof="owl:InverseFunctionalProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/physical-geography#hasElevation" title="Browse http://e-editiones.ch/ontology/physical-geography#hasElevation">physical-geography:hasElevation</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#InverseFunctionalProperty" title="Browse http://www.w3.org/2002/07/owl#InverseFunctionalProperty">owl:InverseFunctionalProperty</a>, 
               <div rel="rdf:type" class="connector"><a class="browse" href="http://www.w3.org/2002/07/owl#DatatypeProperty" title="Browse http://www.w3.org/2002/07/owl#DatatypeProperty">owl:DatatypeProperty</a></div>
            </th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a place of a point or space on the Earth's surface to its height above or below a fixed reference point, most commonly a reference geoid, a mathematical model of the Earth's sea level as an equipotential gravitational surface." xml:lang="en">
               <div class="property-object">Relating a place of a point or space on the Earth's surface to its height above or
                  below a fixed reference point, most commonly a reference geoid, a mathematical model
                  of the Earth's sea level as an equipotential gravitational surface.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://e-editiones.ch/ontology/physical-geography#EarthPlace" title="Browse http://e-editiones.ch/ontology/physical-geography#EarthPlace">physical-geography:EarthPlace</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/physical-geography#" title="Browse http://e-editiones.ch/ontology/physical-geography#">physical-geography:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="has elevation" xml:lang="en">
               <div class="property-object">has elevation
                  													(en)
                  												</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://www.w3.org/2001/XMLSchema#decimal" title="Browse http://www.w3.org/2001/XMLSchema#decimal">xsd:decimal</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subPropertyOf">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subPropertyOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subPropertyOf">rdfs:subPropertyOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subPropertyOf"><a class="browse" href="http://www.w3.org/2003/01/geo/wgs84_pos#alt" title="Browse http://www.w3.org/2003/01/geo/wgs84_pos#alt">http://www.w3.org/ 2003/ 01/ geo/ wgs84 pos#alt</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div id="hasLatitude" class="description">
      <table about="http://e-editiones.ch/ontology/physical-geography#hasLatitude" typeof="owl:DatatypeProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/physical-geography#hasLatitude" title="Browse http://e-editiones.ch/ontology/physical-geography#hasLatitude">physical-geography:hasLatitude</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#DatatypeProperty" title="Browse http://www.w3.org/2002/07/owl#DatatypeProperty">owl:DatatypeProperty</a>, 
               <div rel="rdf:type" class="connector"><a class="browse" href="http://www.w3.org/2002/07/owl#InverseFunctionalProperty" title="Browse http://www.w3.org/2002/07/owl#InverseFunctionalProperty">owl:InverseFunctionalProperty</a></div>
            </th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a place of a point or space on the Earth's surface to its geographic coordinate specifying the north–south position of that point, based on the World Geodetic System (WGS) standard. The coordinate is expressed as the angle between the equatorial plane and the normal, for a sphere from the center, to the surface at that point." xml:lang="en">
               <div class="property-object">Relating a place of a point or space on the Earth's surface to its geographic coordinate
                  specifying the north–south position of that point, based on the World Geodetic System
                  (WGS) standard. The coordinate is expressed as the angle between the equatorial plane
                  and the normal, for a sphere from the center, to the surface at that point.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://e-editiones.ch/ontology/physical-geography#EarthPlace" title="Browse http://e-editiones.ch/ontology/physical-geography#EarthPlace">physical-geography:EarthPlace</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/physical-geography#" title="Browse http://e-editiones.ch/ontology/physical-geography#">physical-geography:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="has latitude" xml:lang="en">
               <div class="property-object">has latitude
                  													(en)
                  												</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2004/02/skos/core#note">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2004/02/skos/core#note" title="Browse http://www.w3.org/2004/02/skos/core#note">skos:note</a></td>
            <td property="skos:note" content="Points with the same latitude lie on a circle around the Earth parallel to its equator. There are different latitudes, depending on the abstracted shape of the earth as spherical or ellipsoid, and other aspects. The decimal value can be converted to a sexagesimal using an N3 rule stating: [decimal degrees - (decimal degrees modulus (%) 1)]° [decimal degrees % 1 x 60 - decimal degrees % 1 x 60 % 1]' + [decimal degrees % 1 * 60 % 1 * 60]''" xml:lang="en">
               <div class="property-object">Points with the same latitude lie on a circle around the Earth parallel to its equator.
                  There are different latitudes, depending on the abstracted shape of the earth as spherical
                  or ellipsoid, and other aspects. The decimal value can be converted to a sexagesimal
                  using an N3 rule stating: [decimal degrees - (decimal degrees modulus (%) 1)]° [decimal
                  degrees % 1 x 60 - decimal degrees % 1 x 60 % 1]' + [decimal degrees % 1 * 60 % 1
                  * 60]''</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://www.w3.org/2001/XMLSchema#decimal" title="Browse http://www.w3.org/2001/XMLSchema#decimal">xsd:decimal</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subPropertyOf">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subPropertyOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subPropertyOf">rdfs:subPropertyOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subPropertyOf"><a class="browse" href="http://www.w3.org/2003/01/geo/wgs84_pos#lat" title="Browse http://www.w3.org/2003/01/geo/wgs84_pos#lat">http://www.w3.org/ 2003/ 01/ geo/ wgs84 pos#lat</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div id="hasLongitude" class="description">
      <table about="http://e-editiones.ch/ontology/physical-geography#hasLongitude" typeof="owl:InverseFunctionalProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://e-editiones.ch/ontology/physical-geography#hasLongitude" title="Browse http://e-editiones.ch/ontology/physical-geography#hasLongitude">physical-geography:hasLongitude</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#InverseFunctionalProperty" title="Browse http://www.w3.org/2002/07/owl#InverseFunctionalProperty">owl:InverseFunctionalProperty</a>, 
               <div rel="rdf:type" class="connector"><a class="browse" href="http://www.w3.org/2002/07/owl#DatatypeProperty" title="Browse http://www.w3.org/2002/07/owl#DatatypeProperty">owl:DatatypeProperty</a></div>
            </th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a place of a point or space on the Earth's surface to its geographic coordinate specifying the east-west position of that point, based on the World Geodetic System (WGS) standard. The coordinate is expressed as the angle in the equatorial plane between a meridian plane containing the surface point and a by convention allocated prime meridian plane at 0 degrees longitude. The IERS Reference Meridian is used here as prime meridian." xml:lang="en">
               <div class="property-object">Relating a place of a point or space on the Earth's surface to its geographic coordinate
                  specifying the east-west position of that point, based on the World Geodetic System
                  (WGS) standard. The coordinate is expressed as the angle in the equatorial plane between
                  a meridian plane containing the surface point and a by convention allocated prime
                  meridian plane at 0 degrees longitude. The IERS Reference Meridian is used here as
                  prime meridian.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://e-editiones.ch/ontology/physical-geography#EarthPlace" title="Browse http://e-editiones.ch/ontology/physical-geography#EarthPlace">physical-geography:EarthPlace</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://e-editiones.ch/ontology/physical-geography#" title="Browse http://e-editiones.ch/ontology/physical-geography#">physical-geography:</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="has longitude" xml:lang="en">
               <div class="property-object">has longitude
                  													(en)
                  												</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2004/02/skos/core#note">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2004/02/skos/core#note" title="Browse http://www.w3.org/2004/02/skos/core#note">skos:note</a></td>
            <td property="skos:note" content="Points with the same longitude lie on a meridian or semi-circle between the poles. There are different longitudes, depending on the abstracted shape of the earth as spherical or ellipsoid, and other aspects. The decimal value can be converted to a sexagesimal using an N3 rule stating: [decimal degrees - (decimal degrees modulus (%) 1)]° [decimal degrees % 1 x 60 - decimal degrees % 1 x 60 % 1]' + [decimal degrees % 1 * 60 % 1 * 60]''" xml:lang="en">
               <div class="property-object">Points with the same longitude lie on a meridian or semi-circle between the poles.
                  There are different longitudes, depending on the abstracted shape of the earth as
                  spherical or ellipsoid, and other aspects. The decimal value can be converted to a
                  sexagesimal using an N3 rule stating: [decimal degrees - (decimal degrees modulus
                  (%) 1)]° [decimal degrees % 1 x 60 - decimal degrees % 1 x 60 % 1]' + [decimal degrees
                  % 1 * 60 % 1 * 60]''</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range"><a class="browse" href="http://www.w3.org/2001/XMLSchema#decimal" title="Browse http://www.w3.org/2001/XMLSchema#decimal">xsd:decimal</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subPropertyOf">
            <td style="width: 25%;"><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subPropertyOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subPropertyOf">rdfs:subPropertyOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subPropertyOf"><a class="browse" href="http://www.w3.org/2003/01/geo/wgs84_pos#long" title="Browse http://www.w3.org/2003/01/geo/wgs84_pos#long">http://www.w3.org/ 2003/ 01/ geo/ wgs84 pos#long</a></div>
            </td>
         </tr>
      </table>
   </div>
</div>