<div xmlns="http://www.w3.org/1999/xhtml" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" class="rdf2html">
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/teaching" typeof="owl:Ontology">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching" title="Browse http://www.e-editiones.ch/ontology/teaching">http://www.e-editiones.ch/ ontology/ teaching</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#Ontology" title="Browse http://www.w3.org/2002/07/owl#Ontology">owl:Ontology</a></th>
         </tr>
         <tr class="http://purl.org/dc/terms/creator">
            <td><a class="browse" href="http://purl.org/dc/terms/creator" title="Browse http://purl.org/dc/terms/creator">dc:creator</a></td>
            <td property="dc:creator" content="Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University, Switzerland" xml:lang="en">
               <div class="property-object">Hans Cools, MD, knowledge engineer, ontologist, software developer, Basel University,
                  Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/description">
            <td><a class="browse" href="http://purl.org/dc/terms/description" title="Browse http://purl.org/dc/terms/description">dc:description</a></td>
            <td property="dc:description" content="Formal description of teaching:, general subclasses such as action, related classes and properties." xml:lang="en">
               <div class="property-object">Formal description of teaching:, general subclasses such as action, related classes
                  and properties.</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/license">
            <td><a class="browse" href="http://purl.org/dc/terms/license" title="Browse http://purl.org/dc/terms/license">dc:license</a></td>
            <td>
               <div class="property-object" rel="dc:license"><a class="browse" href="http://creativecommons.org/licenses/by/3.0/" title="Browse http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/ licenses/ by/ 3.0/ </a></div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/publisher">
            <td><a class="browse" href="http://purl.org/dc/terms/publisher" title="Browse http://purl.org/dc/terms/publisher">dc:publisher</a></td>
            <td property="dc:publisher" content="Universities of Basel, Bern, and Zürich, Switzerland" xml:lang="en">
               <div class="property-object">Universities of Basel, Bern, and Zürich, Switzerland</div>
            </td>
         </tr>
         <tr class="http://purl.org/dc/terms/title">
            <td><a class="browse" href="http://purl.org/dc/terms/title" title="Browse http://purl.org/dc/terms/title">dc:title</a></td>
            <td property="dc:title" content="An ontology about teaching:" xml:lang="en">
               <div class="property-object">An ontology about teaching:</div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/teaching#Lecture" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#Lecture" title="Browse http://www.e-editiones.ch/ontology/teaching#Lecture">lecture</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Teaching by oral presentation about a particular subject." xml:lang="en">
               <div class="property-object">Teaching by oral presentation about a particular subject.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#" title="Browse http://www.e-editiones.ch/ontology/teaching#">http://www.e-editiones.ch/ ontology/ teaching#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="lecture" xml:lang="en">
               <div class="property-object">lecture</div>
               <div class="connector">and</div><span property="rdfs:label" content="Vorlesung" xml:lang="de"></span><div class="property-object">Vorlesung</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Vorlesung" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#Teaching" title="Browse http://www.e-editiones.ch/ontology/teaching#Teaching">teaching</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/teaching#Lecturer" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#Lecturer" title="Browse http://www.e-editiones.ch/ontology/teaching#Lecturer">lecturer</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Role of a person who lectures." xml:lang="en">
               <div class="property-object">Role of a person who lectures.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#" title="Browse http://www.e-editiones.ch/ontology/teaching#">http://www.e-editiones.ch/ ontology/ teaching#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="lecturer" xml:lang="en">
               <div class="property-object">lecturer</div>
               <div class="connector">and</div><span property="rdfs:label" content="VorleserIn" xml:lang="de"></span><div class="property-object">VorleserIn</div>
            </td>
         </tr>
         <div property="rdfs:label" content="VorleserIn" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#Teacher" title="Browse http://www.e-editiones.ch/ontology/teaching#Teacher">teacher</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/teaching#Manual" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#Manual" title="Browse http://www.e-editiones.ch/ontology/teaching#Manual">teaching manual</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Manual for teaching purposes." xml:lang="en">
               <div class="property-object">Manual for teaching purposes.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#" title="Browse http://www.e-editiones.ch/ontology/teaching#">http://www.e-editiones.ch/ ontology/ teaching#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="teaching manual" xml:lang="en">
               <div class="property-object">teaching manual</div>
               <div class="connector">,</div><span property="rdfs:label" content="Lehrbuch" xml:lang="de"></span><div class="property-object">Lehrbuch</div>
               <div class="connector">,</div><span property="rdfs:label" content="manuel scolaire" xml:lang="fr"></span><div class="property-object">manuel scolaire</div>
               <div class="connector">and</div><span property="rdfs:label" content="manuale di testo" xml:lang="it"></span><div class="property-object">manuale di testo</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Lehrbuch" xml:lang="de"></div>
         <div property="rdfs:label" content="manuel scolaire" xml:lang="fr"></div>
         <div property="rdfs:label" content="manuale di testo" xml:lang="it"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/text-expression#Manual" title="Browse http://www.e-editiones.ch/ontology/text-expression#Manual">http://www.e-editiones.ch/ ontology/ text-expression#Manual</a></div>
               <div class="connector">and</div>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#PedagogicExpression" title="Browse http://www.e-editiones.ch/ontology/teaching#PedagogicExpression">pedagogic text expression</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/teaching#PedagogicExpression" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#PedagogicExpression" title="Browse http://www.e-editiones.ch/ontology/teaching#PedagogicExpression">pedagogic text expression</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Text expression for teaching purposes." xml:lang="en">
               <div class="property-object">Text expression for teaching purposes.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#" title="Browse http://www.e-editiones.ch/ontology/teaching#">http://www.e-editiones.ch/ ontology/ teaching#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="pedagogic text expression" xml:lang="en">
               <div class="property-object">pedagogic text expression</div>
               <div class="connector">,</div><span property="rdfs:label" content="pedagogische Textexpression" xml:lang="de"></span><div class="property-object">pedagogische Textexpression</div>
               <div class="connector">,</div><span property="rdfs:label" content="expression textuelle pédagogique" xml:lang="fr"></span><div class="property-object">expression textuelle pédagogique</div>
               <div class="connector">and</div><span property="rdfs:label" content="espressione testuale pedagogico" xml:lang="it"></span><div class="property-object">espressione testuale pedagogico</div>
            </td>
         </tr>
         <div property="rdfs:label" content="pedagogische Textexpression" xml:lang="de"></div>
         <div property="rdfs:label" content="expression textuelle pédagogique" xml:lang="fr"></div>
         <div property="rdfs:label" content="espressione testuale pedagogico" xml:lang="it"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/text-expression#Expression" title="Browse http://www.e-editiones.ch/ontology/text-expression#Expression">http://www.e-editiones.ch/ ontology/ text-expression#Expression</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/teaching#Teacher" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#Teacher" title="Browse http://www.e-editiones.ch/ontology/teaching#Teacher">teacher</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Role of a person who teaches." xml:lang="en">
               <div class="property-object">Role of a person who teaches.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#" title="Browse http://www.e-editiones.ch/ontology/teaching#">http://www.e-editiones.ch/ ontology/ teaching#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="teacher" xml:lang="en">
               <div class="property-object">teacher</div>
               <div class="connector">and</div><span property="rdfs:label" content="LehrerIn" xml:lang="de"></span><div class="property-object">LehrerIn</div>
            </td>
         </tr>
         <div property="rdfs:label" content="LehrerIn" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/human#PersonRole" title="Browse http://www.e-editiones.ch/ontology/human#PersonRole">http://www.e-editiones.ch/ ontology/ human#PersonRole</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/teaching#Teaching" typeof="rdfs:Class">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#Teaching" title="Browse http://www.e-editiones.ch/ontology/teaching#Teaching">teaching</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#Class" title="Browse http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Person's action of communicating information in order to help another person to acquire knowledge, competence or value." xml:lang="en">
               <div class="property-object">Person's action of communicating information in order to help another person to acquire
                  knowledge, competence or value.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#" title="Browse http://www.e-editiones.ch/ontology/teaching#">http://www.e-editiones.ch/ ontology/ teaching#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="teaching" xml:lang="en">
               <div class="property-object">teaching</div>
               <div class="connector">and</div><span property="rdfs:label" content="Unterricht" xml:lang="de"></span><div class="property-object">Unterricht</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Unterricht" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/human#Procedure" title="Browse http://www.e-editiones.ch/ontology/human#Procedure">http://www.e-editiones.ch/ ontology/ human#Procedure</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/teaching#lectureBy" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#lectureBy" title="Browse http://www.e-editiones.ch/ontology/teaching#lectureBy">lecture by</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a lecture to a person having the lecturer role." xml:lang="en">
               <div class="property-object">Relating a lecture to a person having the lecturer role.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#Lecture" title="Browse http://www.e-editiones.ch/ontology/teaching#Lecture">lecture</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#" title="Browse http://www.e-editiones.ch/ontology/teaching#">http://www.e-editiones.ch/ ontology/ teaching#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="lecture by" xml:lang="en">
               <div class="property-object">lecture by</div>
               <div class="connector">and</div><span property="rdfs:label" content="Vorlesung von" xml:lang="de"></span><div class="property-object">Vorlesung von</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Vorlesung von" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range">
                  <table typeof="rdfs:Resource">
                     <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
                        <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
                        <td>
                           <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/human#Person" title="Browse http://www.e-editiones.ch/ontology/human#Person">http://www.e-editiones.ch/ ontology/ human#Person</a></div>
                           <div class="connector">and</div>
                           <div class="property-object" rel="rdfs:subClassOf">
                              <table typeof="owl:Restriction">
                                 <tr>
                                    <th colspan="2"><a class="browse" href="http://www.w3.org/2002/07/owl#Restriction" title="Browse http://www.w3.org/2002/07/owl#Restriction">owl:Restriction</a></th>
                                 </tr>
                                 <tr class="http://www.w3.org/2002/07/owl#onProperty">
                                    <td><a class="browse" href="http://www.w3.org/2002/07/owl#onProperty" title="Browse http://www.w3.org/2002/07/owl#onProperty">owl:onProperty</a></td>
                                    <td>
                                       <div class="property-object" rel="owl:onProperty"><a class="browse" href="http://www.e-editiones.ch/ontology/human#personHasRole" title="Browse http://www.e-editiones.ch/ontology/human#personHasRole">http://www.e-editiones.ch/ ontology/ human#personHasRole</a></div>
                                    </td>
                                 </tr>
                                 <tr class="http://www.w3.org/2002/07/owl#someValuesFrom">
                                    <td><a class="browse" href="http://www.w3.org/2002/07/owl#someValuesFrom" title="Browse http://www.w3.org/2002/07/owl#someValuesFrom">owl:someValuesFrom</a></td>
                                    <td>
                                       <div class="property-object" rel="owl:someValuesFrom"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#Lecturer" title="Browse http://www.e-editiones.ch/ontology/teaching#Lecturer">lecturer</a></div>
                                    </td>
                                 </tr>
                              </table>
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subPropertyOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subPropertyOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subPropertyOf">rdfs:subPropertyOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subPropertyOf"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#teachingBy" title="Browse http://www.e-editiones.ch/ontology/teaching#teachingBy">teaching by</a></div>
            </td>
         </tr>
      </table>
   </div>
   <div class="description">
      <table about="http://www.e-editiones.ch/ontology/teaching#teachingBy" typeof="owl:ObjectProperty">
         <tr>
            <th colspan="2"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#teachingBy" title="Browse http://www.e-editiones.ch/ontology/teaching#teachingBy">teaching by</a><div xmlns="" class="connector"> a </div><a class="browse" href="http://www.w3.org/2002/07/owl#ObjectProperty" title="Browse http://www.w3.org/2002/07/owl#ObjectProperty">owl:ObjectProperty</a></th>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#comment">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#comment" title="Browse http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
            <td property="rdfs:comment" content="Relating a teaching to a person having the teacher role." xml:lang="en">
               <div class="property-object">Relating a teaching to a person having the teacher role.</div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#domain">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#domain" title="Browse http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
            <td>
               <div class="property-object" rel="rdfs:domain"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#Teaching" title="Browse http://www.e-editiones.ch/ontology/teaching#Teaching">teaching</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy" title="Browse http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</a></td>
            <td>
               <div class="property-object" rel="rdfs:isDefinedBy"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#" title="Browse http://www.e-editiones.ch/ontology/teaching#">http://www.e-editiones.ch/ ontology/ teaching#</a></div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#label">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#label" title="Browse http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
            <td property="rdfs:label" content="teaching by" xml:lang="en">
               <div class="property-object">teaching by</div>
               <div class="connector">and</div><span property="rdfs:label" content="Unterricht von" xml:lang="de"></span><div class="property-object">Unterricht von</div>
            </td>
         </tr>
         <div property="rdfs:label" content="Unterricht von" xml:lang="de"></div>
         <tr class="http://www.w3.org/2000/01/rdf-schema#range">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#range" title="Browse http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
            <td>
               <div class="property-object" rel="rdfs:range">
                  <table typeof="rdfs:Resource">
                     <tr class="http://www.w3.org/2000/01/rdf-schema#subClassOf">
                        <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subClassOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subClassOf">rdfs:subClassOf</a></td>
                        <td>
                           <div class="property-object" rel="rdfs:subClassOf"><a class="browse" href="http://www.e-editiones.ch/ontology/human#Person" title="Browse http://www.e-editiones.ch/ontology/human#Person">http://www.e-editiones.ch/ ontology/ human#Person</a></div>
                           <div class="connector">and</div>
                           <div class="property-object" rel="rdfs:subClassOf">
                              <table typeof="owl:Restriction">
                                 <tr>
                                    <th colspan="2"><a class="browse" href="http://www.w3.org/2002/07/owl#Restriction" title="Browse http://www.w3.org/2002/07/owl#Restriction">owl:Restriction</a></th>
                                 </tr>
                                 <tr class="http://www.w3.org/2002/07/owl#onProperty">
                                    <td><a class="browse" href="http://www.w3.org/2002/07/owl#onProperty" title="Browse http://www.w3.org/2002/07/owl#onProperty">owl:onProperty</a></td>
                                    <td>
                                       <div class="property-object" rel="owl:onProperty"><a class="browse" href="http://www.e-editiones.ch/ontology/human#personHasRole" title="Browse http://www.e-editiones.ch/ontology/human#personHasRole">http://www.e-editiones.ch/ ontology/ human#personHasRole</a></div>
                                    </td>
                                 </tr>
                                 <tr class="http://www.w3.org/2002/07/owl#someValuesFrom">
                                    <td><a class="browse" href="http://www.w3.org/2002/07/owl#someValuesFrom" title="Browse http://www.w3.org/2002/07/owl#someValuesFrom">owl:someValuesFrom</a></td>
                                    <td>
                                       <div class="property-object" rel="owl:someValuesFrom"><a class="browse" href="http://www.e-editiones.ch/ontology/teaching#Teacher" title="Browse http://www.e-editiones.ch/ontology/teaching#Teacher">teacher</a></div>
                                    </td>
                                 </tr>
                              </table>
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>
            </td>
         </tr>
         <tr class="http://www.w3.org/2000/01/rdf-schema#subPropertyOf">
            <td><a class="browse" href="http://www.w3.org/2000/01/rdf-schema#subPropertyOf" title="Browse http://www.w3.org/2000/01/rdf-schema#subPropertyOf">rdfs:subPropertyOf</a></td>
            <td>
               <div class="property-object" rel="rdfs:subPropertyOf"><a class="browse" href="http://www.e-editiones.ch/ontology/agent#hasAgent" title="Browse http://www.e-editiones.ch/ontology/agent#hasAgent">http://www.e-editiones.ch/ ontology/ agent#hasAgent</a></div>
            </td>
         </tr>
      </table>
   </div>
</div>